.b-breadcrumbs {
  padding: 45px 0;
  display: flex;
  background-image: linear-gradient(-90deg, #414e56, #354147, #3f4c54);

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    color: $grey2;
    font-size: 16px;
    font-weight: 400;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__divider {
    color: $white;
    margin: 0 8px;
    font-size: 16px;
  }

  &--light {
    background: none;

    .b-breadcrumbs__item {
      a {
        color: $black;
      }
    }

    .b-breadcrumbs__divider {
      color: $black;
    }
  }
}

@include respond-to('tablet-large') {
  .b-breadcrumbs {
    padding: 25px 0;

    &__item {
      font-size: 12px;
    }

    &__divider {
      font-size: 12px;
    }
  }
}

@include respond-to('mobile-large') {
  .b-breadcrumbs {
    padding: 15px 0;

    &__item {
      font-size: 10px;
    }

    &__divider {
      font-size: 10px;
    }
  }
}