.content {
  background-color: $white;
  box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
  border-radius: 8px;
  padding: 50px 70px;
  margin-bottom: 40px;

  .content-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    padding-bottom: 30px;
    margin-bottom: 70px;
  }

  .content-author {
    display: flex;
    align-items: center;
  }

  .content-author-photo {
    max-width: 80px;
    margin-right: 30px;

    img {
      max-width: 100%;
    }
  }

  .content-author-name {
    font-size: 18px;
    color: $black;
    margin-bottom: 10px;
  }

  .content-author-date {
    font-size: 16px;
    color: $grey2;
  }

  .content-tags {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    text-align: right;
  }

  .content-tags-name {
    font-size: 18px;
    color: $grey2;
    width: 100%;
  }

  .content-tags-items {
    width: 100%;

    a {
      font-size: 16px;
      color: $blue;
      text-decoration: none;
      margin-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: $black;
    margin-bottom: 35px;
  }

  h2 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    margin: 40px 0;
  }

  h3 {
    font-size: 22px;
    line-height: 1.6;
    color: $black;
    margin: 40px 0;
  }

  p {
    font-size: 16px;
    line-height: 1.3;
    color: $black;
    margin: 20px 0;
  }

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 20px 0;
    padding-left: 30px;

    li {
      color: $black;
      font-size: 16px;
      position: relative;
      list-style: none;
      margin: 10px 0;

      &:before {
        display: block;
        content: ' ';
        width: 9px;
        height: 9px;
        background-color: $blue;
        position: absolute;
        left: -20px;
        top: 5px;
      }
    }
  }

  blockquote {
    padding: 50px;
    margin: 50px 0;
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
    color: $black;
    border-top: 3px solid $green;
    border-bottom: 3px solid $green;
    position: relative;

    &:before,
    &:after {
      display: block;
      content: '';
      width: 66px;
      height: 44px;
      position: absolute;
      background-color: white;
      margin: 0 7px;
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: contain;
    }

    &:before {
      background-image: url("./images/b_open.png");
      top: -23px;
      left: 80px;
    }

    &:after {
      background-image: url("./images/b_close.png");
      bottom: -23px;
      right: 80px;
    }
  }

  .video {
    position: relative;
    height: 0;
    padding-bottom: 46.25%;
    overflow: hidden;
    margin: 30px 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 80%;
      height: 100%;
      margin: auto;
    }
  }

  #gallery {
    margin: 40px 0;

    img {
      max-width: 100%;
    }

    a {
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      line-height: 1.3;
      font-weight: 400;
      font-style: italic;
      color: $black;
      text-align: center;
      margin-top: 10px;
    }
  }

  pre {
    border: 1px solid #d2d2d2;
    margin: 25px 25px;
    font-size: 16px;
  }

  .description {
    display: flex;
    justify-content: center;
    border: 1px solid #d2d2d2;
    background: #f5f7f8;
    padding: 40px 25px;
    margin: 40px 0;
    align-items: center;

    img {
      margin-right: 33px;
      max-width: 160px;
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 1.6;
      color: $black;
    }
  }

  .moretext {
    input[id^="spoiler"]{
      display: none;
    }

    input[id^="spoiler"] + label {
      display: block;
      margin-top: 20px;
      background: none;
      color: $blue;
      font-size: 16px;
      cursor: pointer;
      transition: all .6s;

      img {
        margin: 0 0 2px 2px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    input[id^="spoiler"]:checked + label {
      img {
        transform: rotate(180deg);
      }
    }

    input[id^="spoiler"] ~ .spoiler {
      width: 100%;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all .6s;
    }

    input[id^="spoiler"]:checked + label + .spoiler{
      height: auto;
      opacity: 1;
      padding: 10px;
    }

    p {
     &:last-child {
       margin-bottom: 0;
     }
    }
  }

  .content-footer {

  }

  .content-footer-top {
    border-bottom: 1px solid $grey2;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }

  .content-footer-reactions {
    display: flex;

    div {
      display: flex;
      align-items: center;
      margin-left: 25px;
      cursor: pointer;

      img {
        margin-right: 8px;
        max-width: 100%;
      }

      p {
        font-size: 16px;
        color: $black;
        margin: 0;
      }
    }
  }

  .content-footer-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .contens-sub {
    @include green-white-button;
    text-align: center;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 0;
    border: none;
    width: 33%;
    margin-right: 30px;
  }

  .contens-vk,
  .contens-fb {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;

    img {
      margin-right: 7px;
    }
  }

  .content-footer-tags {
    p {
      color: $grey2;
      margin-bottom: 5px;
      font-size: 16px;
    }
  }

  .content-footer-tags-mob {
    a {
      display: none;
    }
  }

  .mobile-author {
    display: none;
  }
}

@include respond-to('tablet-large') {
  .content {
    padding: 25px 30px;

    .content-head {
      padding-bottom: 15px;
      margin-bottom: 35px;
    }

    .content-author-photo {
      max-width: 50px;
      margin-right: 15px;
    }

    .content-author-name {
      font-size: 12px;
      margin-bottom: 6px;
    }

    .content-author-date {
      font-size: 12px;
    }

    .content-tags-name {
      font-size: 12px;
    }

    .content-tags-items {
      a {
        font-size: 12px;
        margin-left: 3px;
      }
    }

    h1 {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 16px;
      line-height: 1.2;
      margin: 20px 0;
    }

    h3 {
      font-size: 14px;
      line-height: 1.2;
      margin: 20px 0;
    }

    p {
      font-size: 12px;
      line-height: 1.3;
      margin: 10px 0;
    }

    ul {
      margin: 10px 0;
      padding-left: 20px;

      li {
        font-size: 12px;
        margin: 7px 0;

        &:before {
          width: 6px;
          height: 6px;
          left: -13px;
          top: 3px;
        }
      }
    }

    blockquote {
      padding: 25px;
      margin: 30px 0;
      font-size: 14px;
      line-height: 1.3;

      &:before,
      &:after {
        width: 35px;
        height: 28px;
        margin: 0 7px;
      }

      &:before {
        top: -11px;
        left: 40px;
      }

      &:after {
        bottom: -11px;
        right: 40px;
      }
    }

    .video {
      margin: 20px 0;
    }

    #gallery {
      margin: 20px 0;

      a {
        margin-bottom: 10px;
      }

      p {
        font-size: 12px;
      }
    }

    pre {
      margin: 15px 25px;
      font-size: 12px;
    }

    .description {
      padding: 23px 30px;
      margin: 20px 0;

      img {
        margin-right: 25px;
        max-width: 95px;
      }

      p {
        font-size: 14px;
        line-height: 1.3;
      }
    }

    .moretext {
      input[id^="spoiler"] + label {
        margin-top: 10px;
        font-size: 12px;

        img {
          margin: 0 0 1px 2px;
        }
      }
      input[id^="spoiler"]:checked + label {

      }
      input[id^="spoiler"]:checked + label + .spoiler{
        padding: 10px;
      }
    }

    .content-footer-top {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .content-footer-reactions {
      div {
        margin-left: 25px;

        img {
          margin-right: 8px;
          max-width: 20px;
        }

        p {
          font-size: 12px;
        }
      }
    }

    .content-footer-buttons {
      margin-bottom: 20px;
    }

    .contens-sub {
      @include green-white-button;
      font-size: 12px;
      padding: 7px 0;
      width: 33%;
      margin-right: 30px;
    }

    .contens-vk,
    .contens-fb {
      margin-right: 20px;
      font-size: 12px;

      img {
        margin-right: 7px;
        max-width: 21px;
      }
    }

    .content-footer-tags {
      p {
        margin-bottom: 5px;
        font-size: 12px;
      }

      a {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 767px) {
  .content {
    padding: 20px 15px;
    margin: 0 -15px 30px;

    .content-head {
      display: none;
    }

    h1 {
      font-size: 14px;
      margin-bottom: 15px;
      margin-top: 0;
    }

    h2 {
      font-size: 12px;
      margin: 15px 0;
    }

    h3 {
      font-size: 12px;
      margin: 15px 0;
    }

    p {
      font-size: 10px;
      line-height: 1.2;
    }

    ul {
      margin: 5px 0;
      padding-left: 10px;

      li {
        font-size: 10px;
        margin: 5px 0;

        &:before {
          width: 6px;
          height: 6px;
          left: -10px;
          top: 3px;
        }
      }
    }

    blockquote {
      padding: 15px;
      margin: 20px -15px;
      font-size: 10px;
      line-height: 1.2;

      &:before,
      &:after {
        width: 24px;
        height: 16px;
        margin: 0 7px;
      }

      &:before {
        top: -7px;
        left: 8px;
      }

      &:after {
        bottom: -7px;
        right: 8px;
      }
    }

    .video {
      margin: 15px -15px;
      padding-bottom: 58.25%;

      iframe {
        width: 100%;
      }
    }

    #gallery {
      margin: 15px -15px;

      a {
        margin-bottom: 0;
      }

      p {
        margin: 2px 0;
        font-size: 10px;
      }
    }

    pre {
      margin: 10px 0;
      font-size: 10px;
    }

    .description {
      padding: 15px;
      margin: 15px -15px;
      border-right: 0;
      border-left: 0;

      img {
        display: none;
      }

      p {
        font-size: 10px;
        line-height: 1.2;
      }
    }

    .moretext {
      input[id^="spoiler"] + label {
        margin-top: 10px;
        font-size: 10px;

        img {
          margin: 0 0 0 1px;
        }
      }
      input[id^="spoiler"]:checked + label {

      }
      input[id^="spoiler"]:checked + label + .spoiler{
        padding: 10px;
      }
    }

    .content-footer-top {
      padding-bottom: 8px;
      margin-bottom: 8px;
    }

    .content-footer-reactions {
      div {
        margin-left: 13px;

        img {
          margin-right: 5px;
          max-width: 16px;
        }

        p {
          font-size: 10px;
        }
      }
    }

    .content-footer-buttons {
      margin-bottom: 0;
      flex-wrap: wrap;
    }

    .contens-sub {
      order: 3;
      font-size: 10px;
      padding: 7px 0;
      width: 100%;
      margin-right: 0;
      margin-top: 10px;
    }

    .contens-vk,
    .contens-fb {
      margin-right: 0;
      width: 50%;
      font-size: 10px;

      img {
        margin-right: 5px;
        max-width: 17px;
      }
    }

    .content-footer-tags {
      display: none;
    }

    .content-footer-tags-mob {
      display: flex;
      flex-wrap: wrap;
      max-width: 40%;

      a {
        display: inline-block;
        margin-right: 5px;
        font-size: 10px;
      }
    }
  }

  .mobile-author {
    display: block!important;
    font-size: 10px;
    margin: 5px 0;
    color: $grey2;

    span {
      color: $black;
    }
  }
}