.b-fly {
  opacity: 0;
  display: none;

  &__element {
    position: absolute;
    z-index: -1;

    img {
      max-width: 100%;
    }

    &--left {
      left: -5px;
    }

    &--right {
      right: -5px;
    }

    &--randomleft {
      left: 100px;
    }

    &--randomright {
      right: 100px;
    }
  }
}

@include respond-to('desktop-16') {
  .b-fly {
    opacity: 1;
    display: block;
  }
}

.l-1 {
  left: 90px;
  top: 30%;
}
.l-2 {
  top: 42%;
}
.l-3 {
  left: 25px;
  top: 56%;
}
.l-4 {
  top: 70%;
}
.r-1 {
  top: 8%;
}
.r-2 {
  top: 45%;
  right: 30px;
}
.r-3 {
  top: 59%;
}
.r-4 {
  right: 70px;
  top: 77%;
}