.b-footer {
  &__bottom {
    background-image: linear-gradient(-90deg, #414e56, #354147, #3f4c54);
    padding: 10px 0 15px;
  }

  &__menu {
    padding: 40px 0 25px;
  }

  &__menu-title {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
    color: $black;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__menu-item {
    margin-bottom: 15px;

    a {
      font-size: 16px;
      font-weight: 400;
      color: $black-soft;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__logo {
    img {
      max-width: 100%;
    }
  }

  &__desc {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 23px;
  }

  &__button {
    @include green-white-button;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
    padding: 11px 25px;
    display: inline-block;
  }

  &__search {
    margin-bottom: 22px;
    position: relative;

    &:before {
      width: 22px;
      height: 22px;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 15px;
      margin: auto;
      background: url("./images/search_bottom.png") no-repeat;
    }

    input {
      width: 100%;
      border-radius: 4px;
      background-color: rgba(90, 90, 90, 0.4);
      border: 2px solid $blue;
      font-size: 14px;
      color: $white;
      padding: 12px 10px 8px 50px;
      outline: none;

      &:focus {
        border-color: $green;
      }

      &::placeholder {
        color: $grey2;
        font-size: 14px;
        font-style: italic;
        text-decoration: underline;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__copyright,
  &__sitemap,
  &__agreement {
    font-size: 14px;
    font-weight: 400;
    color: $white;
    margin-top: 20px;

    a {
      color: $white;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@include respond-to('tablet-large') {
  .b-footer {
    &__menu {
      padding: 25px 0 20px;
    }

    &__menu-title {
      margin-bottom: 10px;
      font-size: 12px;

      a {
        font-size: 12px;
      }
    }

    &__menu-item {
      margin-bottom: 5px;

      a {
        font-size: 12px;
      }
    }

    &__desc {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 12px;
    }

    &__button {
      font-size: 12px;
      padding: 7px 35px;
    }

    &__search {
      margin-bottom: 13px;

      &:before {
        width: 14px;
        height: 14px;
        left: 8px;
        background: url("./images/search_bottom2.png") no-repeat;
      }

      input {
        font-size: 9px;
        padding: 8px 10px 4px 33px;

        &::placeholder {
          font-size: 9px;
        }
      }
    }

    &__social {
      img {
        max-height: 20px;
        max-width: 38px;
      }
    }

    &__copyright,
    &__sitemap,
    &__agreement {
      font-size: 9px;
      margin-top: 12px;
    }
  }
}

@include respond-to('mobile-large') {
  .b-footer {
    &__menu-title {
      font-size: 10px;

      a {
        font-size: 10px;
      }
    }

    &__desc {
      font-size: 10px;
      line-height: 13px;
      margin-bottom: 10px;
    }

    &__button {
      width: 100%;
      padding: 7px 0;
    }

    &__bottom {
      padding: 15px 0 0;
    }

    &__search {
      margin-bottom: 10px;

      input {
        font-size: 10px;

        &::placeholder {
          font-size: 10px;
        }
      }
    }

    &__copyright,
    &__sitemap,
    &__agreement {
      margin-top: 0;
      margin-bottom: 6px;
    }
  }
}

@media (max-width: 767px) {
  .b-footer {
    &__menu-col {
      &--active {
        .b-footer__menu-items {
          margin-bottom: 10px;
          height: auto;
        }
      }
    }

    &__menu-items {
      transition: all 150ms ease-in-out;
      height: 0;
      overflow: hidden;
    }

    &__menu-title {
      cursor: pointer;
    }

    &__menu,
    &__contact {
      padding: 25px 0;
    }

    &__desc {
      color: $black;
    }

    &__socials {
      justify-content: start;
      a {
        margin-right: 10px;
      }
    }
  }
}