.b-forms {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -99;
  overflow: hidden;

  &__overlay {
    background: rgba(0,0,0, 0.8);
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0;
    position: absolute;
    transition: all 250ms ease-in-out;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  &__form {
    z-index: 110;
    position: absolute;
  }

  &--opened {
    z-index: 99;

    .b-forms__overlay {
      z-index: 100;
      opacity: 1;
    }
  }
}

.b-form {
  position: relative;
  margin-top: -2000px;
  transition: all 250ms ease-in-out;
  opacity: 0;

  &--opened {
    margin-top: auto;
    opacity: 1;
  }

  &--submitted {
    .b-form__result {
      height: auto;
      opacity: 1;
    }

    .b-form__fields {
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 25px;
    height: 355px;
    background: url("./images/form-blue.png") no-repeat;
    bottom: 0;
    left: -25px;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 25px;
    height: 295px;
    background: url("./images/form-green.png") no-repeat;
    top: -3px;
    right: -25px;
    background-position-x: right;
  }

  &__result {
    height: 0;
    opacity: 0;
    transition: all 600ms ease-in-out;
  }

  &__fields {
    transition: all 600ms ease-in-out;
  }

  &__result-content {
    color: $white;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 600ms ease-in-out;
    pointer-events: none;
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;

    img {
      opacity: 0.8;
      max-width: 100%;
      cursor: pointer;

      &:hover {
        opacity: 1;
        transform: scale(1.2);
      }
    }
  }

  &__content {
    padding: 50px 40px;
    border-radius: 4px;
    background-image: linear-gradient(-90deg, #414e56, #354147, #3f4c54);
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    color: $white;
    margin-bottom: 30px;
  }

  &__field {
    margin-bottom: 25px;
  }

  &__input {
    display: flex;
    justify-content: space-between;
    position: relative;

    input {
      min-width: 480px;
      border-radius: 4px;
      background-color: rgba(90, 90, 90, 0.4);
      border: 2px solid $blue;
      color: $white;
      font-size: 16px;
      font-style: italic;
      letter-spacing: normal;
      padding: 17px 20px 11px;
      outline: none;

      &:active,
      &:focus {
        border-color: $green;
      }

      &::placeholder {
        color: $grey2;
      }
    }

    &--withfile {
      input {
        min-width: 405px;
      }
    }

    .error {
      position: absolute;
      bottom: -18px;
      font-size: 14px;
      color: $red;
      display: none;

      img {
        margin-right: 5px;
      }
    }

    &.error {
      input {
        border-color: $red;
      }

      .error {
        display: block;
      }
    }
  }

  &__textarea {
    textarea {
      min-width: 480px;
      border-radius: 4px;
      background-color: rgba(90, 90, 90, 0.4);
      border: 2px solid $blue;
      color: $white;
      font-size: 16px;
      font-style: italic;
      letter-spacing: normal;
      padding: 20px 20px 11px;
      outline: none;
      resize: none;
      min-height: 140px;

      &:active,
      &:focus {
        border-color: $green;
      }

      &::placeholder {
        color: $grey2;
      }
    }
  }

  &__select-options {
    margin-bottom: 25px;
    margin-top: 10px;
  }

  &__select-option {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: $white;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;

    &:before {
      display: block;
      width: 17px;
      height: 17px;
      content: '';
      background: url("./images/choose.png") no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }

    &--selected {
      &:before {
        background: url("./images/Choose_highlight.png") no-repeat;
      }
    }
  }

  &__select {
    cursor: pointer;
    position: relative;
    min-width: 480px;
    border-radius: 4px;
    background-color: rgba(90, 90, 90, 0.4);
    border: 2px solid $blue;
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    padding: 20px 20px 11px;
    outline: none;

    span {
      color: $grey2;
    }

    &:after {
      display: block;
      content: '';
      width: 26px;
      height: 14px;
      background: url(./images/updown.png) no-repeat;
      position: absolute;
      right: 14px;
      bottom: 12px;
      margin: auto;

      @include respond-to('tablet-large') {
        width: 17px;
        height: 9px;
        background: url(./images/updown2.png) no-repeat;
        right: 7px;
      }
    }

    &--active {
      .b-form__select-list {
        display: block;
      }

      &:after {
        transform: rotate(180deg);
      }
    }

    &--confirm {
      span {
        color: $white;
        font-style: normal;
      }
    }
  }

  &__select-list {
    position: absolute;
    z-index: 2;
    background-image: linear-gradient(-90deg, #414e56, #354147, #3f4c54);
    left: -2px;
    right: -2px;
    border: 2px solid $blue;
    display: none;
    margin-top: 10px;
  }

  &__select-item {
    padding: 3px 15px;
    font-size: 16px;
    font-style: normal;
    line-height: 25px;
    color: $white;

    &:hover {
      background-color: rgb(90, 90, 90);
    }
  }

  &__button {
    input {
      @include green-white-button;
      text-align: center;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      padding: 13px 50px;
      border: none;
    }
  }

  &__politic {
    font-size: 12px;
    font-style: italic;
    color: $grey2;
    margin-top: 20px;
    line-height: 12px;

    a {
      color: $grey2;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__file {
    input {
      display: none;
    }
  }

  &__file-attach {
    cursor: pointer;
    width: 55px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgba(90, 90, 90, 0.4);
    border: 2px solid $blue;

    img {
      max-width: 100%;
    }
  }

  &__file {
    display: none;

    &--show {
      display: block;
    }
  }

  &__file-item {
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 250ms ease-in-out;
    margin: 2px 0;
  }

  &__file-name {
    color: $grey2;
    font-size: 16px;
    font-style: italic;
    margin: 0 15px;
  }

  &__file-del {
    cursor: pointer;
  }
}

@include respond-to('tablet-large') {
  .b-form {
    &__title {
      margin-bottom: 30px;
    }

    &__field {
      margin-bottom: 15px;
    }

    &__content {
      padding: 30px 20px;
    }

    &__input {
      input {
        padding: 15px 15px 8px;
      }

      .error {
        bottom: -15px;
        font-size: 10px;

        img {
          margin-right: 5px;
          margin-bottom: -2px;
        }
      }

      &.error {
        margin-bottom: 20px;
      }
    }

    &__politic {
      font-size: 14px;
      margin-top: 15px;
    }
  }
}

@media (max-width: 767px) {
  .b-form {
    &:before,
    &:after {
      display: none;
    }

    &__title {
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 14px;
    }

    &__close {
      top: 10px;
      right: 10px;
    }

    &__result-content {
      font-size: 12px;
      min-height: 100px;
    }

    &__field {
      margin-bottom: 5px;
    }

    &__content {
      padding: 10px;
    }

    &__input {
      input {
        min-width: 320px;
        padding: 7px 10px 5px;
        font-size: 12px;
      }

      &--withfile {
        input {
          min-width: 285px;
        }
      }
    }

    &__file-attach {
      width: 29px;
      height: 29px;

      img {
        width: 11px;
        height: 16px;
      }
    }

    &__file-name {
      font-size: 12px;
    }

    &__textarea {
      textarea {
        min-width: 320px;
        padding: 7px 10px 5px;
        font-size: 12px;
        min-height: 60px;
      }
    }

    &__select {
      min-width: 320px;
      padding: 7px 10px 5px;
      font-size: 12px;

      &:after {
        bottom: 6px;
      }
    }

    &__select-list {
      margin-top: 4px;
    }

    &__select-item {
      padding: 3px 5px;
      font-size: 12px;
    }

    &__select-options {
      margin-bottom: 15px;
      margin-top: 10px;
    }

    &__select-option {
      font-size: 12px;
      padding-left: 20px;
      margin-bottom: 5px;

      &:before {
        width: 12px;
        height: 12px;
        background-size: cover;
      }
    }

    &__button {
      input {
        font-size: 12px;
        padding: 7px 20px;
      }
    }

    &__politic {
      font-size: 10px;
      margin-top: 8px;
      line-height: 12px;
      display: grid;
    }
  }
}