.b-header {
  background-color: $black-light;
  border-bottom: 5px solid $blue;
  padding-top: 5px;
  //top: -300px;
  transition: top 500ms ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;

  &__logo {
    img {
      max-width: 100%;
    }
  }

  &__desc {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  &__button {
    a {
      @include green-white-button;
      font-size: 16px;
      font-weight: 400;
      padding: 12px 0;
      display: block;
      text-align: center;
      text-decoration: none;
    }
  }

  &__mail,
  &__lang {
    padding-left: 40px;
    color: $white;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    display: block;
    text-decoration: none;

    &:before {
      display: block;
      content: '';
      width: 35px;
      height: 23px;
      background: url("./images/mail_icon.png") no-repeat;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__lang {
    &:before {
      width: 34px;
      height: 22px;
      background: url("./images/Eng_icon.png") no-repeat;
    }

    &--ru {
      &:before {
        width: 34px;
        height: 22px;
        background: url("./images/Ru_icon.svg") no-repeat;
      }
    }

  }

  &__menu-first {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }

  &__menu-item {
    text-align: center;
    padding: 9px 0;
    cursor: pointer;
    width: 100%;
    transition: all 250ms ease-in-out;
    position: relative;
    text-decoration: none;

    a {
      text-decoration: none;
    }

    &--active {
      .b-header__menu-second {
        display: block;
      }
    }

    &__mobile {
      display: none;
    }
  }

  &__menu-item-title {
    color: $white;
    font-size: 16px;
    font-weight: 400;
  }

  &__menu-second {
    position: absolute;
    text-align: left;
    background-color: $black-light;
    z-index: 5;
    min-width: 250px;
    display: none;
    margin-top: 8px;

    a {
      display: block;
      width: 100%;
      padding: 12px 10px 12px 16px;
      font-size: 16px;
      font-weight: 400;
      color: $white;
      text-decoration: none;

      &:hover {
        background: rgba(255, 255, 255, 0.25);
      }
    }

    span {
      display: block;
      width: 100%;
      padding: 12px 10px 12px 16px;
      font-size: 16px;
      font-weight: 400;
      color: $grey2;
      cursor: auto;
      text-decoration: none;
    }
  }

  .col-fix-lang {
    display: none;

    img {
      cursor: pointer;
    }
  }

  &__langmail {
    display: flex;

    .img-lang {
      height: 100%;
      margin-left: 10px;
    }

    a {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--fixed {
    //position: fixed;
    //width: 100%;
    //top: 0;
    //z-index: 99;

    .b-header__logo {
      img {
        margin-bottom: -3px;
        margin-top: 2px;
      }
    }

    .col-logo {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
      order: 0;
    }

    .col-desc,
    .col-lang,
    .col-mail {
      display: none;
    }

    .col-fix-lang {
      display: block;
      order: 2;
    }

    .col-button {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      order: 3;
    }

    .col-menu {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      order: 1;
    }

    .b-header__menu-item {
      width: auto;
    }

    .b-header__button {
      a {
        font-size: 14px;
      }
    }
  }
}

@include respond-to('tablet-large') {
  .b-header {
    &__desc {
      font-size: 10px;
      line-height: 13px;
    }

    &__button {
      a {
        font-size: 12px;
        padding: 6px 0;
      }
    }

    &__mail,
    &__lang {
      padding-left: 17px;
      font-size: 10px;

      &:before {
        width: 23px;
        height: 16px;
        background-size: cover;
        margin-left: -10px;
      }
    }

    &__lang {
      &:before {
        width: 21px;
        height: 14px;
        background-size: cover;
      }
    }

    &__menu-item {
      padding: 6px 0;
      position: relative;
    }

    &__menu-item-title {
      font-size: 12px;
    }

    &__menu-second {
      min-width: 200px;
      margin-top: 4px;

      a,
      span {
        padding: 6px 5px 6px 10px;
        font-size: 12px;
      }
    }

    &__langmail {
      .img-lang {
        margin-left: 6px;
      }

      .img-mail {
        margin-left: -21px;
      }
    }

    &--fixed {
      .b-header__button {
        a {
          font-size: 12px;
        }
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-header {

  }
}

@media (max-width: 767px) {
  .b-header {
    position: sticky;
    top: 0;
    z-index: 15;

    .col-desc,
    .col-button,
    .col-lang,
    .col-fix-lang {
      display: none;
    }

    &__logo {
      img {
        max-width: 91px;
      }
    }

    &__menu {
      position: relative;
      z-index: 15;
      margin-left: -5px;
    }

    &__menu-content {
      position: absolute;
      z-index: 15;
      background-color: $black-light;
      right: -20px;
      margin-left: -120px;
      transition: all 500ms ease-in-out;
      height: 0;
      opacity: 0;
      overflow: hidden;

      &--active {
        height: auto;
        opacity: 1;
      }
    }

    &__menu-first {
      flex-wrap: wrap;
    }

    &__menu-second {
      position: relative;
      min-width: auto;
    }

    &__menu-item-title {
      font-size: 14px;
    }

    &__menu-item,
    &__menu-second a,
    &__menu-second span {
      width: 100%;
      text-align: left;
      padding: 10px 0 10px 13px;

      &__mobile {
        display: block;
      }
    }

    &__menu-second a {
      font-size: 12px;
      padding: 10px 3px 10px 10px;
    }

    &__mail {
      @include green-white-button;
      font-size: 10px;
      font-weight: 400;
      padding: 7px 0;
      display: block;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      margin-right: -10px;

      &:before {
        display: none;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &__menu-mobile {
      width: 35px;
      height: 35px;
      cursor: pointer;
      margin-right: 5px;

      span {
        display: block;
      }

      .sandwich {
        cursor: pointer;
        width: 28px;
        height: 3px;
        position: absolute;
        top: -18px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 20;
      }

      .sw-topper {
        position: relative;
        top: 0;
        width: 32px;
        height: 3px;
        background: $bg-color;
        border: none;
        border-radius: 4px 4px 4px 4px;
        transition: transform 0.5s, top 0.2s;
        display: block;
      }

      .sw-bottom {
        position: relative;
        width: 32px;
        height: 3px;
        top: 6.6px;
        background: $bg-color;
        border: none;
        border-radius: 4px 4px 4px 4px;
        transition: transform 0.5s, top 0.2s;
        transition-delay: 0.2s, 0s;
      }

      .sw-footer {
        position: relative;
        width: 32px;
        height: 3px;
        top: 13.5px;
        background: $bg-color;
        border: none;
        border-radius: 4px 4px 4px 4px;
        transition: all 0.5s;
        transition-delay: 0.1s;
      }

      .sandwich.active .sw-topper {
        top: 9px;
        transform: rotate(-45deg);
      }

      .sandwich.active .sw-bottom {
        top: 6px;
        transform: rotate(45deg);
      }

      .sandwich.active .sw-footer {
        opacity: 0;
        top: 0;
        transform: rotate(180deg);
      }
    }
  }
}