.b-leftmenu {
  position: sticky;
  top: 0;
  padding-top: 70px;
  padding-bottom: 30px;

  &__container {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90vh;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    .b-leftmenu__item {
      font-weight: 700;
    }

    &--inner {
      height: 0;
      opacity: 0;
      transition: all 150ms ease-in-out;
      overflow: hidden;
      margin-left: 15px;

      .b-leftmenu__item {
        font-weight: 400;
      }
    }
  }

  &__item {
    width: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    span, a {
      color: $black;
      cursor: pointer;
      text-decoration: none;
      display: block;
      transition: all 150ms ease-in-out;

      &:hover {
        color: $blue;

        &:before {
          background: url("./images/doc_opened.png") no-repeat;
        }
      }
    }

    span {
      padding-left: 15px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        bottom: 0;
        left: 0;
        background: url("./images/doc_open.png") no-repeat;
        width: 11px;
        height: 5px;
      }
    }

    &--opened {
      > .b-leftmenu__items--inner {
        height: auto;
        opacity: 1;
        margin-top: 15px;
      }

      > span, > a {
        color: $blue;

        &:before {
          background: url("./images/doc_opened.png") no-repeat;
          transform: rotate(180deg);
        }
      }
    }
  }

  &__top {
    display: none;
  }

  .arrow {
    display: none;
  }
}

@include respond-to('desktop-13') {
  .b-leftmenu {
    position: absolute;
    z-index: -1;
    background-color: #f4f4f4;
    box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
    border-radius: 2px;
    padding: 20px;
    margin-top: 45px;
    opacity: 0;
    transition: all 150ms ease-in-out;
    max-width: 70vw;

    .arrow {
      display: block;

      &:after {
        background: #f4f4f4;
        top: -18px;
      }
    }

    &--opened {
      z-index: 2;
      opacity: 1;
    }

    &__item {
      width: 50%;
      margin-bottom: 10px;

      span, a {
        font-size: 10px;

        &:hover {
          color: $blue;

          &:before {
            background: url("./images/doc_opened.png") no-repeat;
            top: 4px;
            width: 9px;
            height: 4px;
            background-size: contain;
          }
        }
      }

      span {
        padding-left: 13px;

        &:before {
          top: 4px;
          width: 9px;
          height: 4px;
          background-size: contain;
        }
      }

      &--opened {
        > .b-leftmenu__items--inner {
          height: auto;
          opacity: 1;
          margin-top: 15px;
        }

        > span, > a {
          color: $blue;

          &:before {
            top: 4px;
            width: 9px;
            height: 4px;
            background-size: contain;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .unposition {
    position: inherit;
  }

  .b-leftmenu {
    margin-top: 0;
    margin-left: -15px;
    max-width: 90vw;
    transform: translateX(-100%);

    &--opened {
      z-index: 20;
      transform: translateX(0);
    }

    &__item {
      width: 100%;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 20px;

      .close-left-menu {
        cursor: pointer;
      }
    }
  }
}