.b-pagen {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 16px;

  &__content {
    background-color: $white;
    box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
    border-radius: 2px;
    padding: 15px 30px;
    display: flex;
  }

  &__prev {
    margin-right: 70px;
    color: $black;
    text-decoration: none;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    span {
      margin-left: 10px;
    }
  }

  &__next {
    margin-left: 70px;
    color: $black;
    text-decoration: none;

    &:hover {
      span {
        text-decoration: underline;
      }
    }

    span {
      margin-right: 10px;
    }
  }

  &__pages {
    display: flex;
  }

  &__page {
    color: $black;
    text-decoration: none;
    margin: 0 15px;

    &:hover {
      text-decoration: underline;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--current {
      text-decoration: underline;
      pointer-events: none;
    }
  }

  &__divider {
    color: $black;
    margin: 0 15px
  }
}

@include respond-to('tablet-large') {
  .b-pagen {
    font-size: 12px;

    &__content {
      padding: 10px 20px;
    }

    &__prev {
      margin-right: 50px;

      span {
        margin-left: 5px;
      }
    }

    &__next {
      margin-left: 50px;

      span {
        margin-right: 5px;
      }
    }

    &__page {
      margin: 0 10px;
    }

    &__divider {
      margin: 0 10px
    }
  }
}

@media (max-width: 767px) {
  .b-pagen {
    font-size: 10px;

    &__content {
      padding: 7px 10px;
      width: 100%;
      justify-content: space-around;
    }

    &__prev {
      margin-right: 30px;

      span {
        display: none;
      }
    }

    &__next {
      margin-left: 30px;

      span {
        display: none;
      }
    }

    &__page {
      margin: 0 8px;
    }

    &__divider {
      margin: 0 8px
    }
  }
}