.tooltip, .tooltips, .arrow:after {
  background: $white2;
}

.tooltip,
.tooltips {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 5px 10px;
  color: $black;
  margin-top: 20px;
  font-size: 14px;
  box-shadow: 5px 5px 7px 1px rgba(84, 36, 0, 0.26);

  span.link {
    cursor: pointer;
    color: $blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  a, b {
    color: $black;
  }

  @include respond-to('tablet-large') {
    font-size: 8px;
    padding: 4px 8px;
  }

  @include respond-to('mobile-large') {
    font-size: 6px;
    padding: 3px 6px;
  }
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 0;
  //margin-left: -40px;
  top: -16px;
  transform: rotate(180deg);
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
.tooltip.active,
.tooltips.active {
  opacity: 1;
  margin-top: 30px;

  @include respond-to('tablet-large') {
    font-size: 10px;
  }

  @include respond-to('mobile-large') {
    font-size: 8px;
    margin-left: -3px;
    margin-top: 20px;
  }
}
.tooltip.out {
  opacity: 1;
  pointer-events: all;
}