.b-trial {
  position: relative;
  padding: 100px 0;

  &__background {
    @include bg-black;
  }

  &__title {
    @include block-title;
    margin-bottom: 45px;
    line-height: 40px;
  }

  &__form {
    position: relative;
  }

  &__input {
    margin-bottom: 20px;

    input {
      width: 100%;
      border-radius: 4px;
      background-color: rgba(90, 90, 90, 0.4);
      border: 2px solid $blue;
      font-size: 16px;
      color: $white;
      padding: 17px 20px 11px 20px;
      outline: none;

      &:focus {
        border-color: $green;
      }

      &::placeholder {
        color: $grey2;
        font-size: 16px;
        font-style: italic;
      }
    }
  }

  &__options {
    display: flex;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  &__option {
    width: 50%;
    font-size: 16px;
    font-weight: 400;
    color: $white;
    padding-left: 20px;
    position: relative;
    cursor: pointer;

    &:before {
      display: block;
      width: 17px;
      height: 17px;
      content: '';
      background: url("./images/choose.png") no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }

    &--selected {
      &:before {
        background: url("./images/Choose_highlight.png") no-repeat;
      }
    }

    &:hover {
      .b-trial__option-tooltip {
        .tooltips {
          opacity: 1;
        }
      }
    }
  }

  &__option-tooltip {
    position: absolute;
    min-width: 250px;

    .tooltips {
      padding: 11px 13px 8px;
      box-shadow: 5px 5px 7px 1px rgba(84, 36, 0, 0.26);
      background: $white-soft;
      margin-top: 12px;
      transition: all 150ms ease-in-out;
      font-size: 14px;
    }

    .arrow {
      left: -10px;

      &:after {
        background: $white-soft;
      }
    }
  }

  &__button {
    input {
      @include green-white-button;
      text-align: center;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      padding: 13px 50px;
      border: none;
    }
  }

  &__politic {
    font-size: 14px;
    font-style: italic;
    color: $grey2;
    margin-top: 35px;

    a {
      color: $grey2;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__bg {
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: 0;
  }
}

@include respond-to('tablet-large') {
  .b-trial {
    padding: 60px 0;

    &__title {
      margin-bottom: 30px;
      line-height: 20px;
    }

    &__input {
      margin-bottom: 11px;

      input {
        font-size: 10px;
        padding: 11px 10px 6px 13px;

        &::placeholder {
          font-size: 10px;
        }
      }
    }

    &__options {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    &__option {
      font-size: 10px;
      padding-left: 16px;
      line-height: 12px;

      &:before {
        width: 12px;
        height: 12px;
        background-size: cover;
      }
    }

    &__option-tooltip {
      .tooltips {
        padding: 8px 9px 5px;
        font-size: 9px;
      }
    }

    &__button {
      input {
        font-size: 10px;
        padding: 8px 30px;
      }
    }

    &__politic {
      font-size: 9px;
      margin-top: 20px;
    }

    &__bg {
      img {
        max-width: 240px;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-trial {
    padding: 35px 0 30px;

    &__title {
      margin-bottom: 23px;
      line-height: 15px;
    }

    &__input {
      margin-bottom: 9px;
    }

    &__options {
      margin-bottom: 15px;
      margin-top: 15px;
    }

    &__button {
      input {
        padding: 8px 30px;
      }
    }

    &__politic {
      font-size: 10px;
      margin-top: 15px;
    }

    &__option-tooltip {
      min-width: 100px;
    }
  }
}