body {
  background: $bg-color;
  overflow-x: hidden;
  position: relative;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.b-content {
  padding-top: 145px;

  &__section {
    &--left {
      height: 100%;
    }
  }

  @include respond-to('tablet-large') {
    padding-top: 100px;
  }

  @media(max-width: 767px) {
    padding-top: 0;
  }
}

.b-select {
  border-radius: 4px;
  border: 2px solid #15c6b9;
  background-color: $white;
  color: #6f6f6f;
  font-size: 16px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 27px;
  cursor: pointer;
  padding: 5px 0 5px 15px;
  outline: none;
  position: relative;

  &--inactive {
    pointer-events: none;
    border-color: $grey;
  }

  &__list {
    position: absolute;
    z-index: 2;
    background: $white;
    left: -2px;
    right: -2px;
    border: 2px solid $green;
    display: none;
    margin-top: 4px;

    &--top {
      bottom: 36px;
      margin-top: 0;

      @include respond-to('tablet-large') {
        bottom: 25px;
      }
    }

    &--hide {
      display: none!important;
    }
  }

  &__item {
    padding: 3px 15px;
    font-size: 16px;
    font-style: normal;
    line-height: 25px;

    &:hover {
      background: #e4e4e4;
    }

    @include respond-to('tablet-large') {
      font-size: 12px;
      line-height: 16px;
      padding-left: 9px;
    }

    @include respond-to('mobile-large') {
      font-size: 10px;
      line-height: 14px;
      padding-left: 6px;
    }
  }

  &:after {
    display: block;
    content: '';
    width: 26px;
    height: 14px;
    background: url(./images/updown.png) no-repeat;
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    margin: auto;

    @include respond-to('tablet-large') {
      width: 17px;
      height: 9px;
      background: url(./images/updown2.png) no-repeat;
      right: 7px;
    }
  }

  &--active {
    .b-select__list {
      display: block;
    }

    &:after {
      transform: rotate(180deg);
    }
  }

  &--confirm {
    span {
      color: $black;
      font-style: normal;
    }

    &:before {
      display: block;
      content: '';
      background: url(./images/cheked.png) no-repeat;
      width: 25px;
      height: 25px;
      bottom: 0;
      top: 0;
      right: -40px;
      position: absolute;
      margin: auto;
      pointer-events: none;
    }
  }

  @include respond-to('tablet-large') {
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
  }

  @include respond-to('mobile-large') {
    font-size: 10px;
    line-height: 14px;
    padding-left: 6px;
  }
}

.b-input {
  border-radius: 4px;
  border: 2px solid #15c6b9!important;
  background-color: $white;
  color: #6f6f6f;
  font-size: 16px;
  font-style: italic;
  padding: 5px 0 5px 15px;
  line-height: 27px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  position: relative;

  &--confirm {
    &:before {
      display: block;
      content: '';
      background: url(./images/cheked.png) no-repeat;
      width: 25px;
      height: 25px;
      bottom: 0;
      top: 0;
      right: -40px;
      position: absolute;
      margin: auto;
      pointer-events: none;
    }
  }

  @include respond-to('tablet-large') {
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
  }

  @include respond-to('mobile-large') {
    font-size: 10px;
    line-height: 14px;
    padding-left: 6px;
  }

  &::placeholder {
    color: #6f6f6f;
    font-size: 16px;

    @include respond-to('tablet-large') {
      font-size: 12px;
      line-height: 16px;
      padding-left: 9px;
    }

    @include respond-to('mobile-large') {
      font-size: 10px;
      line-height: 14px;
      padding-left: 6px;
    }
  }
}

.b-textarea {
  border-radius: 4px;
  border: 2px solid #15c6b9!important;
  background-color: $white;
  color: #6f6f6f;
  font-size: 16px;
  font-style: italic;
  padding: 5px 0 5px 15px;
  line-height: 27px;
  width: 100%;
  min-height: 84px;
  resize: none;
  box-sizing: border-box;
  outline: none;
  position: relative;

  &--confirm {
    &:before {
      display: block;
      content: '';
      background: url(./images/cheked.png) no-repeat;
      width: 25px;
      height: 25px;
      top: 5px;
      right: -40px;
      position: absolute;
      margin: auto;
      pointer-events: none;
    }
  }

  @include respond-to('tablet-large') {
    font-size: 12px;
    line-height: 16px;
    padding-left: 9px;
    min-height: 50px;
  }

  @include respond-to('mobile-large') {
    font-size: 10px;
    line-height: 14px;
    padding-left: 6px;
  }

  &::placeholder {
    color: #6f6f6f;
    font-size: 16px;

    @include respond-to('tablet-large') {
      font-size: 12px;
      line-height: 16px;
      padding-left: 9px;
    }

    @include respond-to('mobile-large') {
      font-size: 10px;
      line-height: 14px;
      padding-left: 6px;
    }
  }
}

.b-totop {
  position: fixed;
  cursor: pointer;
  right: 30px;
  bottom: 10%;
  transition: all 150ms ease-in-out;
  opacity: 0;
  z-index: 9;

  &--visible {
    opacity: 0.8;
  }

  &:hover {
    opacity: 1;
  }

  img {
    max-width: 100%;
  }

  @include respond-to('tablet-large') {
    display: none;
  }
}



@media (max-width: 767px) {
  .b-select--confirm,
  .b-input--confirm,
  .b-textarea--confirm {
    &:before {
      display: none!important;
    }
  }
}