@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'Open Sans', sans-serif;
}

//! set font variables
$font-heading: 'Open Sans', sans-serif;
$font-body: 'Open Sans', sans-serif;

html,
body {
  font-family: $font-body;
}
