.b-enjoy {
  position: relative;
  padding: 100px 0 65px;

  &__background {
    @include bg-black;
  }

  &__title {
    @include block-title;
    margin-bottom: 40px;
    line-height: 40px;

    span, a {
      text-decoration: none;
      color: $blue;
    }

    &--second {
      margin-bottom: 60px;
    }
  }

  &__advantages {
    margin-bottom: 60px;
  }

  &__advantage {
    background: $blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
    border-radius: 4px;
    align-items: flex-end;
    padding: 20px 8px 8px 20px;
    margin-bottom: 20px;
    color: $white;
    text-decoration: none;

    &:hover {
      background: $green;
    }
  }

  &__advantage-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  &__advantage-count {
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    opacity: 0;
  }

  &__slider-container {
    overflow: hidden;
  }

  &__slider-wrapper {
    align-items: center;
  }

  &__slider-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, 0.4);
    min-height: 200px;

    img {
      max-width: 100%;
    }
  }

  &__button {
    margin-top: 25px;

    a {
      @include green-white-button;
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      padding: 12px 0;
      border-radius: 4px;
    }
  }

  &__advantage-info {
    display: inline-block;
    margin-left: 4px;
    cursor: pointer;

    img {
      max-width: 100%;
    }

    &:hover {
      .b-enjoy__advantage-tooltip {
        .tooltips {
          opacity: 1;
        }
      }
    }
  }

  &__advantage-tooltip {
    position: absolute;
    min-width: 300px;
    margin-left: -18px;

    .tooltips {
      cursor: default;
      padding: 11px 13px 8px;
      box-shadow: 5px 5px 7px 1px rgba(84, 36, 0, 0.26);
      background: $white-soft;
      margin-top: 12px;
      transition: all 150ms ease-in-out;
      font-size: 14px;
      z-index: 2;
      line-height: 18px;

      a {
        color: $blue;
        display: block;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .arrow {
      left: -10px;

      &:after {
        background: $white-soft;
      }
    }

    &--active {
      .tooltips {
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}

@include respond-to('tablet-large') {
  .b-enjoy {
    padding: 55px 0 45px;

    &__title {
      line-height: 20px;
      margin-bottom: 25px;

      &--second {
        margin-bottom: 30px;
      }
    }

    &__advantages {
      margin-bottom: 50px;
    }

    &__advantage {
      padding: 13px 6px 6px 12px;
      margin-bottom: 11px;
    }

    &__advantage-title {
      font-size: 12px;
      line-height: 18px;
    }

    &__advantage-count {
      font-size: 45px;
      line-height: 45px;
    }

    &__button {
      margin: 25px -20px 0;

      a {
        font-size: 12px;
        padding: 8px 0;
      }
    }

    &__slider-slide {
      min-height: 130px;

      img {
        max-width: 90%;
        max-height: 120px;
      }
    }

    &__advantage-info {
      max-width: 11px;

      img {
        max-width: 100%;
        margin: 0 0 -3px 4px;
      }
    }

    &__advantage-tooltip {
      min-width: 190px;

      .tooltips {
        max-width: 190px;
        line-height: 12px;
        padding: 8px 9px 5px;
        font-size: 9px;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-enjoy {
    padding: 35px 0 20px;

    &__title {
      line-height: 15px;
      margin-bottom: 13px;

      &--second {
        margin-bottom: 15px;
      }
    }

    &__advantages {
      margin-bottom: 30px;
    }

    &__advantage {
      padding: 8px;
      margin-bottom: 9px;
    }

    &__advantage-title {
      font-size: 10px;
      line-height: 14px;
    }

    &__advantage-count {
      font-size: 18px;
      line-height: 18px;
    }

    &__button {
      a {
        font-size: 10px;
      }
    }

    &__advantage-tooltip {
      .tooltips {
        max-width: 160px;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-enjoy {
    &__button {
      margin: 20px auto 0;
    }

    &__advantage {
      align-items: center;
    }

    &__slider {
      margin: 0 -10px;
    }

    &__slider-slide {
      min-height: 116px;

      img {
        max-width: 90%;
        max-height: 50px;
      }
    }
  }
}

.swiper-button-next-enjoy,
.swiper-button-prev-enjoy {
  position: absolute;
  top: 50%;
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  outline: none;

  &:after,
  &:before {
    opacity: 0.4;
    transition: all 150ms ease-in-out;
  }

  &:hover {
    &:after,
    &:before {
      opacity: 1;
    }
  }

  @include respond-to('tablet-large') {
    width: 19px;
  }

  @include respond-to('mobile-large') {
    width: 9px;
  }
}

.swiper-button-next-enjoy {
  left: 15px;

  &:after {
    background: url(./images/forward-29-57.png) no-repeat;
    content: '';
    width: 29px;
    height: 57px;
  }

  @include respond-to('tablet-large') {
    &:after {
      width: 19px;
      height: 37px;
      background: url(./images/forward-19-37.png) no-repeat;
    }
  }

  @include respond-to('mobile-large') {
    &:after {
      background: url(./images/forw.png) no-repeat;
      width: 9px;
      height: 16px;
    }
  }
}

.swiper-button-prev-enjoy {
  left: auto;
  right: 15px;

  &:after {
    transform: rotate(180deg);
    background: url(./images/forward-29-57.png) no-repeat;
    content: '';
    width: 29px;
    height: 57px;
  }

  @include respond-to('tablet-large') {
    &:after {
      transform: rotate(180deg);
      background: url(./images/forward-19-37.png) no-repeat;
      content: '';
      width: 19px;
      height: 37px;
    }
  }

  @include respond-to('mobile-large') {
    &:after {
      transform: rotate(180deg);
      background: url(./images/forw.png) no-repeat;
      width: 9px;
      height: 16px;
    }
  }
}