.b-examples {
  position: relative;
  padding-bottom: 120px;

  &__background {
    @include bg-black;
    margin-top: -80px;
  }

  &__title {
    @include block-title;
    margin-bottom: 40px;
    line-height: 40px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    color: $white;
    margin-bottom: 50px;
    line-height: 20px;

    a {
      font-weight: 700;
      color: $blue;
      margin-top: 50px;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 150ms ease-in-out;
    margin: 15px 0;
    height: 100%;

    &:hover {
      &:after {
        transition: all 150ms ease-in-out;
        position: absolute;
        content: '';
        left: -15px;
        right: -15px;
        top: 0;
        bottom: 0;
        background-color: rgba(51, 51, 51, 0.4);
        z-index: -1;
      }

      img {
        filter: brightness(1) grayscale(0);
      }
    }

    img {
      transition: all 150ms ease-in-out;
      max-width: 100%;
      filter: brightness(0.7) grayscale(90%);
    }
  }

  &__bottom-desc {
    text-align: right;
    margin-top: 60px;
    width: 100%;
    padding-right: 15px;

    a {
      font-size: 16px;
      font-weight: 700;
      text-decoration: underline;
      color: $blue;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@include respond-to('tablet-large') {
  .b-examples {
    padding-bottom: 60px;

    &__background {
      margin-top: -60px;
    }

    &__title {
      margin-bottom: 25px;
      line-height: 20px;
    }

    &__description {
      font-size: 12px;
      margin-bottom: 0;
      line-height: 15px;

      a {
        margin-top: 30px;
      }
    }

    &__item {
      margin: 10px 0;
    }

    &__bottom-desc {
      margin-top: 40px;
      margin-bottom: 0;

      a {
        font-size: 12px;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-examples {
    &__background {
      margin-top: -45px;
    }

    &__title {
      margin-bottom: 20px;
      line-height: 15px;
    }

    &__description {
      font-size: 10px;
      margin-bottom: 0;
      line-height: 13px;

      a {
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-examples {
    padding-bottom: 25px;
    padding-top: 20px;

    &__background {
      margin-top: -25px;
    }

    &__slider {
      overflow: hidden;
      margin: 0 -10px;
    }

    &__description {
      margin-bottom: 30px;
    }

    &__slider-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: space-evenly;
      height: 100%;
      border-radius: 4px;
      background-color: rgba(51, 51, 51, 0.4);
      min-height: 116px;

      img {
        max-width: 90%;
        max-height: 50px;
      }
    }

    &__bottom-desc {
      margin-top: 15px;
      margin-bottom: 10px;
      text-align: left;
      padding-left: 15px;

      a {
        font-size: 10px;
      }
    }
  }
}


.swiper-button-next-examples,
.swiper-button-prev-examples {
  position: absolute;
  top: 50%;
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9px;
  outline: none;

  &:after,
  &:before {
    opacity: 0.4;
    transition: all 150ms ease-in-out;
  }

  &:hover {
    &:after,
    &:before {
      opacity: 1;
    }
  }
}

.swiper-button-next-examples {
  left: 15px;

  &:after {
    background: url(./images/forw.png) no-repeat;
    content: '';
    width: 9px;
    height: 16px;
  }
}

.swiper-button-prev-examples {
  left: auto;
  right: 15px;

  &:after {
    background: url(./images/forw.png) no-repeat;
    transform: rotate(180deg);
    content: '';
    width: 9px;
    height: 16px;
  }
}