.b-join {
  padding-top: 100px;

  &__title {
    @include block-title-black;
    margin-bottom: 48px;
  }
}

$right-indent: 30px;
$bottom-indent: 40px;
$block-height: 90px;

$bottom-indent-md: 25px;


$right-indent-sm: 5px;
$bottom-indent-sm: 15px;
$block-height-sm: 50px;


.b-schema {
  display: flex;

  &__left {
    width: 33%;
  }

  &__right {
    width: 67%;
  }

  &__container {
    position: relative;

    &--left {
      padding-right: $right-indent;
      padding-top: $bottom-indent;

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        background: $hard-grey;
        right: 0;
        top: 0;
        bottom: $block-height / 2;
      }
    }

    &--right {
      padding-left: $right-indent;
      padding-top: $bottom-indent;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;

      .b-schema__element {
        width: calc(50% - #{$right-indent});
      }
    }


  }

  &__element {
    box-shadow: 3px 3px 4px 1px rgba(65, 72, 75, 0.26);
    background: white;
    color: black;
    margin-bottom: $bottom-indent;
    height: $block-height;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;
    transition: all 150ms ease-in-out;
    font-size: 16px;

    &:after,
    &:before {
      pointer-events: none;
    }
  }

  .open-popup {
    cursor: pointer;

    &:hover {
      background: $blue;
      color: $white;

      img {
        display: none;
      }

      .hover {
        display: block;
      }
    }
  }

  a {
    text-decoration: none;

    &:hover {
      .b-schema__element {
        background: $blue;
        color: $white;
      }

      img {
        display: none;
      }

      .hover {
        display: block;
      }
    }
  }

  &__text {
    font-size: 16px;
    padding-left: 80px;
    text-align: left;
    position: relative;

    img {
      transition: all 150ms ease-in-out;
      max-width: 60px;
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    img.hover {
      display: none;
    }
  }

  .elem-3 {
    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      background: $hard-grey;
      right: -$right-indent;
      width: $right-indent;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .elem-1,
  .elem-2,
  .elem-4,
  .elem-5,
  .elem-6 {
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      background: $hard-grey;
      right: 0;
      left: 0;
      bottom: -$bottom-indent;
      height: $bottom-indent;
      margin: auto;
    }
  }

  .elem-5,
  .elem-6 {
    &:after {
      bottom: calc(-#{$bottom-indent} - 10px);
      height: calc(#{$bottom-indent} + 10px);
    }
  }

  .elem-hide {
    opacity: 0;
    z-index: -100;
  }

  .elem-4 {
    background: $blue;
    color: $white;

    img {
      left: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      background: $hard-grey;
      left: -$right-indent;
      width: calc(50% + #{$right-indent});
      top: -$bottom-indent;
    }

    span {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      background: $hard-grey;
      right: 0;
      left: 0;
      top: -$bottom-indent;
      height: $bottom-indent;
      margin: auto;
    }
  }

  .elem-6 {
    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      background: $hard-grey;
      left: -$right-indent*2;
      width: calc(50% + #{$right-indent} * 2);
      top: calc(-#{$block-height} / 2 - #{$bottom-indent});
    }

    span {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      background: $hard-grey;
      right: 0;
      left: 0;
      top: calc(-#{$block-height} / 2 - #{$bottom-indent});
      height: calc(#{$block-height} / 2 + #{$bottom-indent});
      margin: auto;
    }
  }

  .elem-7 {
    margin: auto;
    margin-top: $bottom-indent*2;
    min-height: 260px;
    padding-top: 30px;
    padding-left: 30px;
    align-items: start;
    position: relative;

    .b-schema__text {
      padding-left: 0;
    }

    img {
      position: absolute;
      max-width: 210px;
      right: 10px;
      bottom: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      background: $hard-grey;
      left: calc(-1 * #{$right-indent} - 1px);
      right: calc(-1 * #{$right-indent} - 1px);
      top: calc(-2 * #{$bottom-indent} + 10px);
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      background: $hard-grey;
      right: 0;
      left: 0;
      top: calc(-2 * #{$bottom-indent} + 10px);
      height: calc(2 * #{$bottom-indent} - 10px);
      margin: auto;
    }
  }

}

@include respond-to('tablet-large') {
  .b-join {
    padding-top: 60px;

    &__title {
      margin-bottom: 30px;
    }
  }

  .b-schema {
    &__element {
      margin-bottom: $bottom-indent-md;

      &:after {
        bottom: -$bottom-indent-md;
        height: $bottom-indent-md;
      }
    }

    &__text {
      font-size: 12px;
      padding-left: 60px;

      img {
        max-width: 45px;
        left: 5px;
      }
    }

    .elem-4 {
      img {
        left: 15px;
        max-width: 25px;
      }
    }

    .elem-5,
    .elem-6 {
      &:after {
        bottom: calc(-#{$bottom-indent-md} - 10px);
        height: calc(#{$bottom-indent-md} + 10px);
      }
    }

    .elem-6 {
      &:before {
        left: -$right-indent*2;
        width: calc(50% + #{$right-indent} * 2);
        top: calc(-#{$block-height} / 2 - #{$bottom-indent-md});
      }

      span {
        top: calc(-#{$block-height} / 2 - #{$bottom-indent-md});
        height: calc(#{$block-height} / 2 + #{$bottom-indent-md});
      }
    }

    .elem-7 {
      min-height: 163px;
      margin-top: $bottom-indent-md*2;

      img {
        max-width: 100px;
      }

      &:before {
        left: calc(-1 * #{$right-indent} - 1px);
        right: calc(-1 * #{$right-indent} - 1px);
        top: calc(-2 * #{$bottom-indent-md} + 10px);
      }

      &:after {
        bottom: auto;
        top: calc(-2 * #{$bottom-indent-md} + 10px);
        height: calc(2 * #{$bottom-indent-md} - 10px);
      }
    }
  }
}

@media (max-width: 767px) {
  .b-join {
    padding-top: 35px;

    &__title {
      margin-bottom: 25px;
    }
  }

  .b-schema {
    flex-wrap: wrap;

    &__left {
      width: 100%;
    }

    &__right {
      width: 100%;
    }

    &__container {
      &--left {
        padding-right: 0;
        padding-top: 0;

        &:after {
          display: none;
        }
      }

      &--right {
        padding-left: 0;
        padding-top: 0;
        width: 100%;
        justify-content: space-between;

        .b-schema__element {
          width: calc(50% - #{$right-indent-sm});
        }
      }


    }

    &__element {
      margin-bottom: $bottom-indent-sm;
      height: $block-height-sm;
      padding: 0 5px;
      font-size: 10px;
    }

    &__text {
      font-size: 10px;
      padding-left: 29px;

      img {
        max-width: 22px;
        left: 2px;
      }
    }

    .elem-3 {
      &:after {
        top: auto;
      }
    }

    .elem-4 {
      img {
        max-width: 12px;
        left: 8px;
      }
    }

    .elem-1,
    .elem-2,
    .elem-3,
    .elem-4,
    .elem-7 {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    .elem-1,
    .elem-2,
    .elem-3,
    .elem-4,
    .elem-5,
    .elem-6 {
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        background: $hard-grey;
        right: 0;
        left: 0;
        bottom: -$bottom-indent-sm;
        height: $bottom-indent-sm;
        margin: auto;
      }
    }

    .elem-hide {
      display: none;
    }

    .elem-5,
    .elem-6 {
      &:after {
        display: none;
      }
    }

    .elem-4 {
      margin-bottom: $bottom-indent-sm*3;

      &:before {
        left: 0;
        right: 0;
        top: auto;
        bottom: calc(-2 * #{$bottom-indent-sm} + 10px);
        width: 100%;
      }

      &:after {
        top: auto;
        bottom: calc(-2 * #{$bottom-indent-sm} + 10px);
        height: calc(2 * #{$bottom-indent-sm} - 10px);
      }

      span {
        display: none;
      }
    }

    .elem-6 {
      &:before,
      &:after,
      span {
        display: none;
      }
    }

    .elem-7 {
      margin-top: $bottom-indent-sm*2;
      min-height: 140px;
      padding-top: 20px;
      padding-left: 20px;

      img {
        max-width: 100px;
        right: 5px;
        bottom: 5px;
      }

      &:before {
        left: 0;
        right: 0;
        top: calc(-2 * #{$bottom-indent-sm} + 10px);
      }

      &:after {
        top: calc(-2 * #{$bottom-indent-sm} + 10px);
        height: calc(2 * #{$bottom-indent-sm} - 10px);
      }
    }

    .elem-4,
    .elem-7 {
      span.left-sm,
      span.right-sm {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        background: $hard-grey;
        left: 0;
        bottom: calc(-3 * #{$bottom-indent-sm} - 10px);
        height: calc(3 * #{$bottom-indent-sm} - 10px);
        top: auto;
        right: auto;
      }
    }

    .elem-4 {
      span.right-sm {
        right: 0;
        left: auto;
      }
    }

    .elem-7 {
      span.left-sm {
        top: calc(-3 * #{$bottom-indent-sm});
        height: calc(3 * #{$bottom-indent-sm} - 20px);
        bottom: auto;
      }

      span.right-sm {
        top: calc(-3 * #{$bottom-indent-sm});
        height: calc(3 * #{$bottom-indent-sm} - 20px);
        bottom: auto;
        right: 0;
        left: auto;
      }
    }
  }
}