.b-questions {
  padding: 100px 0;

  &__title {
    @include block-title-black;
    margin-bottom: 48px;
  }

  &__item-content {
    height: 0;
    overflow: hidden;
    transition: all .35s cubic-bezier(.4, 0, .2, 1);
    color: $black;
    font-size: 16px;
  }

  &__item-text {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .25s;

    a {
      color: $blue;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__item {
    background-color: $white;
    margin-bottom: 18px;
    padding: 16px 20px;
    cursor: pointer;
    position: relative;
    transition: all .35s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
    border-radius: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      .b-questions__item-title {
        color: $blue;

        &::after {
          background: url("./images/down__hilight.png") no-repeat;
        }
      }
    }

    &--active {
      .b-questions__item-content {
        height: auto;
      }

      .b-questions__item-text {
        opacity: 1;
      }

      .b-questions__item-title {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__item-title {
    color: $black;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    transition: all 150ms ease-in-out;

    &::after {
      display: block;
      content: '';
      width: 26px;
      height: 14px;
      background: url("./images/down.png") no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__button {
    margin-top: 40px;

    a {
      @include green-white-button;
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      padding: 12px 0;
      border-radius: 4px;
    }
  }
}

@include respond-to('tablet-large') {
  .b-questions {
    padding: 60px 0;

    &__title {
      margin-bottom: 25px;
    }

    &__item {
      margin-bottom: 6px;
      padding: 11px 8px;

      &:hover {
        .b-questions__item-title {
          &::after {
            background-size: cover;
          }
        }
      }
    }

    &__item-title {
      padding-right: 20px;
      font-size: 12px;

      &::after {
        width: 18px;
        height: 10px;
        background-size: cover;
      }
    }

    &__item-content {
      font-size: 12px;
    }

    &__button {
      margin-top: 20px;

      a {
        font-size: 12px;
        padding: 8px 0;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-questions {
    padding: 35px 0 20px;

    &__title {
      margin-bottom: 15px;
    }

    &__item {
      margin-bottom: 4px;
    }

    &__item-title {
      font-size: 10px;
    }

    &__item-content {
      font-size: 10px;
    }

    &__button {
      margin-top: 15px;

      a {
        font-size: 10px;
      }
    }
  }
}