.b-solution {
  padding: 50px 0;

  &__slider {
    position: relative;
    background: $white;
    box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
    border-radius: 8px;
    margin: 0 -140px;
    padding: 0 45px;
  }

  &__slider-container {
    overflow: hidden;
  }

  &__slider-slide {
    padding: 60px 2px 90px 2px;
    position: relative;

    &.swiper-slide-active {
      .b-solution__slider-bg {
        img {
          opacity: 1;
        }
      }
    }
  }

  &__slider-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    margin-bottom: 50px;

    span {
      color: $blue;
    }
  }

  &__slider-desc {
    margin-bottom: 55px;
    color: $black;
    font-size: 16px;
    font-weight: 400;

    p {
      margin: 10px 0;
    }
  }

  &__slider-license {
    margin-bottom: 40px;

    span {
      color: $blue;
      font-size: 26px;
    }
  }

  &__slider-listitem {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;

    &:before {
      display: block;
      content: ' ';
      width: 9px;
      height: 9px;
      background-color: $blue;
      position: absolute;
      left: 0;
      top: 5px;
      margin: auto;
    }
  }

  &__slider-button {
    a {
      @include green-white-button;
      text-decoration: none;
      padding: 12px 19px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      border-radius: 4px;
    }
  }

  &__slider-bg {
    position: absolute;
    right: 0;
    z-index: -1;

    img {
      transition: all 150ms ease-in-out;
      max-width: 100%;
      opacity: 0;
    }
  }

  &__slider-info {
    display: none;
  }

  &__slider-list {
    padding-right: 30px;
  }
}

@include respond-to('desktop-15') {
  .b-solution {
    &__slider {
      margin: 0 -50px;
      padding: 0 30px;
    }

    &__slider-slide {
      padding: 30px 0 20px 0;
    }

    &__slider-bg {
      display: flex;
      justify-content: flex-end;

      img {
        max-width: 80%;
      }
    }
  }
}

@include respond-to('tablet-large') {
  .b-solution {
    padding: 30px 0 40px;

    &__slider {
      margin: 0 -20px;
      padding: 0 30px;
    }

    &__slider-slide {
      padding: 30px 0 20px 0;
    }

    &__slider-title {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 25px;
    }

    &__slider-desc {
      margin-bottom: 18px;
      font-size: 12px;

      p {
        margin: 10px 0;
      }
    }

    &__slider-license {
      margin-bottom: 18px;

      span {
        font-size: 14px;
      }
    }

    &__slider-listitem {
      font-size: 12px;
      padding-left: 10px;
      margin-bottom: 3px;

      &:before {
        width: 6px;
        height: 6px;
      }
    }

    &__slider-button {
      margin-top: 20px;
      margin-bottom: 20px;

      a {
        padding: 6px 10px;
        font-size: 12px;
        max-width: 150px;
      }
    }

    &__slider-bg {
      right: 0;
      top: 80px;

      img {
        max-width: 240px;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-solution {
    padding: 20px 0 30px;

    &__slider-title {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 15px;
    }

    &__slider-desc {
      margin-bottom: 10px;
      font-size: 10px;

      p {
        margin: 10px 0;
      }
    }

    &__slider-license {
      margin-bottom: 10px;

      span {
        font-size: 12px;
      }
    }

    &__slider-listitem {
      font-size: 10px;
      padding-left: 10px;
      margin-bottom: 3px;

      &:before {
        width: 6px;
        height: 6px;
      }
    }

    &__slider-button {
      margin-top: 15px;
      margin-bottom: 20px;

      a {
        display: block;
        padding: 5px 10px;
        font-size: 10px;
        max-width: 110px;
        margin-left: auto;
      }
    }

    &__slider-bg {
      right: 0;
      top: 80px;

      img {
        max-width: 240px;
      }
    }
  }
}


@media (max-width: 767px) {
  .b-solution {
    &__content {
      overflow: hidden;
    }

    &__slider {
      margin: 0 -30px;
      padding: 0 25px;
    }

    &__slider-bg {
      display: none;
    }

    &__slider-slide {
      padding: 25px 0 20px 0;
    }

    &__slider-listitem {
      &:before {
        top: 2px;
      }
    }

    &__slider-list {
      padding-right: 0;
    }

    &__slider-info {
      display: inline-block;
      cursor: pointer;

      span {
        color: $blue;
        cursor: pointer;
        text-decoration: underline;
      }

      &:hover {
        .b-solution__slider-tooltip {
          width: 100%;
          z-index: 999;

          .tooltips {
            opacity: 1;
            bottom: 20px;
            background: $bg-color;
            left: 20px;

            .arrow {
              top: auto;
              bottom: -16px;
              transform: rotate(0);

              &:after {
                background: $bg-color;
              }
            }
          }
        }
      }
    }
  }
}


.swiper-button-next-solution,
.swiper-button-prev-solution {
  position: absolute;
  top: 50%;
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  outline: none;

  &:after,
  &:before {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
  }

  &:hover {
    &:after,
    &:before {
      opacity: 1;
    }
  }

  @include respond-to('tablet-large') {
    width: 22px;
  }
}

.swiper-button-next-solution {
  left: auto;
  right: -85px;

  &:after {
    background: url(./images/forward-40-78.png) no-repeat;
    transform: rotate(180deg);
    content: '';
    width: 40px;
    height: 78px;
  }

  &:hover {
    &:after {
      transform: rotate(0deg);
      background: url(./images/forward-40-78-hover.png) no-repeat;
    }
  }

  @include respond-to('desktop-15') {
    right: -15px;
  }

  @include respond-to('tablet-large') {
    right: 25px;

    &:after {
      background: url(./images/forward-22-42.png) no-repeat;
      content: '';
      width: 22px;
      height: 42px;
    }

    &:hover {
      &:after {
        background: url(./images/forward-22-42-hover.png) no-repeat;
      }
    }
  }
}

.swiper-button-prev-solution {
  left: -85px;

  &:after {
    background: url(./images/forward-40-78.png) no-repeat;
    content: '';
    width: 40px;
    height: 78px;
  }

  &:hover {
    &:after {
      transform: rotate(180deg);
      background: url(./images/forward-40-78-hover.png) no-repeat;
    }
  }

  @include respond-to('desktop-15') {
    left: -15px;
  }

  @include respond-to('tablet-large') {
    left: 25px;

    &:after {
      background: url(./images/forward-22-42.png) no-repeat;
      content: '';
      width: 22px;
      height: 42px;
    }

    &:hover {
      &:after {
        background: url(./images/forward-22-42-hover.png) no-repeat;
      }
    }
  }
}

.swiper-pagination {
  bottom: 30px !important;

  @include respond-to('tablet-large') {
    bottom: 15px !important;
  }
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: $grey3 !important;
  margin: 0 6px !important;
  opacity: 1 !important;

  &-active {
    background-color: $green !important;
  }

  @include respond-to('tablet-large') {
    margin: 0 4px !important;
  }
}