.b-docs {
  padding-bottom: 60px;


  &__top {
    display: flex;
    margin-bottom: 16px;
  }

  &__menu {
    display: none;
  }

  &__search {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      border: 2px solid #d2d2d2;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
      font-style: italic;
      text-decoration: underline;
      color: $grey2;
      padding: 12px 7px 10px 50px;
    }

    &:before {
      width: 22px;
      height: 22px;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 15px;
      margin: auto;
      background: url(/images/search_bottom.png) no-repeat;
      background-size: contain;
    }
  }

  &__bottom {
    margin-top: 30px;
  }

  &__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;

    a {
      display: block;
      background-color: $white;
      box-shadow: 3px 3px 6px 0px rgba(65,72,75,0.25);
      border-radius: 4px;
      color: $black;
      text-decoration: none;
      padding: 10px 0;
      text-align: center;

      span {
        margin: 0 10px;
      }
    }
  }
}

@include respond-to('desktop-13') {
  .b-docs {
    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 112px;
      border: 2px solid #d2d2d2;
      border-radius: 4px;
      margin-right: 10px;
      font-size: 12px;
      padding: 0 6px;
      cursor: pointer;
      background: $white;

      img {
        max-width: 100%;
        margin-right: 6px;
      }
    }
  }
}

@include respond-to('tablet-large') {
  .b-docs {
    &__search {
      input {
        font-size: 12px;
        padding: 8px 7px 6px 30px;
      }

      &:before {
        width: 13px;
        height: 13px;
        left: 10px;
      }
    }

    &__nav {
      justify-content: space-evenly;

      a {
        font-size: 13px;
        padding: 8px 0;

        span {
          margin: 0 6px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .b-docs {
    padding-top: 0;
    padding-bottom: 35px;

    &__bottom {
      margin-top: -10px;
    }

    &__nav {
      justify-content: space-between;

      a {
        font-size: 10px;
        padding: 6px 0;

        span {
          margin: 0 5px;
        }
      }
    }
  }
}