/* Media Queries
========================================================================== */

@mixin respond-to($breakpoint) {
  @if $breakpoint== "mobile-small" {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $breakpoint== "mobile" {
    @media (max-width: 375px) {
      @content;
    }
  } @else if $breakpoint== "mobile-large" {
    @media (max-width: 414px) {
      @content;
    }
  } @else if $breakpoint== "tablet" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint== "tablet-large" {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $breakpoint== "desktop-13" {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $breakpoint== "desktop-15" {
    @media (max-width: 1440px) {
      @content;
    }
  } @else if $breakpoint== "desktop-16" {
    @media (min-width: 1792px) {
      @content;
    }
  } @else {
    @media ($breakpoint) {
      @content;
    }
  }
}

//! Example usage
/* @include respond-to('mobile') {} */

/* CENTERING */
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin lefted {
  @include centered;
  transform: translate(0, -50%);
}

//! Example usage
/*
.parent {
position: relative;
}
.child {
@include centered;
}
*/

@mixin bg-black {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(-90deg, #414e56, #354147, #3f4c54);
  z-index: -3;
}

@mixin block-title {
  color: $white;
  font-size: 30px;
  line-height: 27px;
  font-weight: 700;

  @include respond-to('tablet-large') {
    font-size: 18px;
    line-height: 17px;
  }

  @include respond-to('mobile-large') {
    font-size: 12px;
    line-height: 13px;
  }
}

@mixin block-title-black {
  @include block-title;
  color: $black;

  @include respond-to('tablet-large') {
    font-size: 18px;
    line-height: 17px;
  }

  @include respond-to('mobile-large') {
    font-size: 12px;
    line-height: 13px;
  }
}

@mixin blue-white-button {
  background-color: $blue;
  color: $white;
  cursor: pointer;

  &:hover {
    border-color: $green;
    box-shadow: 0 0 40px 40px $green inset;
  }
}

@mixin blue-white-block {
  background-color: $blue;
  color: $white;
}

@mixin green-white-button {
  background-color: $green;
  color: $white;
  cursor: pointer;

  &:hover {
    border-color: $blue;
    box-shadow: 0 0 40px 40px $blue inset;
  }
}

@mixin green-border-button {
  border-color: $green;
  color: $black;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 40px 40px $green inset;
    color: $white;
  }
}

@mixin green-white-block {
  background-color: $green;
  color: $white;
}






