$white: #fff;
$white-soft: #d8dbdd;
$white2: #ccf1fc;
$white3: #e0e0e0;

$light-grey: #6f6f6f;
$hard-grey: #666666;
$grey: #bababa;
$grey2: #999999;
$grey3: #afafaf;

$black-soft: #4b5b64;
$black: #000000;
$black-light:  #414f57;

$blue: #01a8e5;
$blue-dark: #1c97e2;
$green: #15c6b9;

$bg-color: #e6e6e6;

$red: #ee3030;


$color-primary: $white;
$color-secondary: $blue;
$color-tertiary: $black;