.b-downloads {
  padding: 50px 0 100px;

  &__title {
    @include block-title-black;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 22px;
    font-weight: 400;
    color: $black;
    margin-bottom: 40px;
  }

  &__included {
    font-size: 16px;
    font-weight: 700;
    color: $black;
    margin-bottom: 35px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    width: 50%;
    font-size: 16px;
    font-weight: 400;
    color: $black;
    margin-bottom: 25px;
    padding-left: 40px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background: url("./images/cheked.png") no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
      margin: auto;
    }
  }

  &__slider {
    background: $white;
    box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
    border-radius: 4px;
    height: 100%;
  }

  &__slider-container {
    overflow: hidden;
    height: 100%;
  }

  &__slider-wrapper,
  &__slider-slide {
    height: 100%!important;
  }

  &__slider-slide {
    height: 100%;
  }

  &__justify-between {
    justify-content: space-between
  }

  &__buttons {
    margin-top: 60px;
  }

  &__centered {
    margin: 0 40px;
  }

  &__button {
    @include blue-white-button;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 0;
    animation: none !important;

    &--active {
      pointer-events: none;
      @include green-white-block;
    }

    &--center {
      position: relative;

      &:before,
      &:after {
        pointer-events: none;
        background: url("./images/strelka-black.png");
        width: 39px;
        height: 17px;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:before {
        left: -22%;
      }

      &:after {
        right: -22%;
      }
    }
  }

  &__slide-content {
    display: flex;
    align-items: start;
    padding-top: 30px;
    height: 100%;

    .row {
      width: 100%;
    }
  }

  &__variants-title {
    color: $black;
    font-size: 26px;
    margin-bottom: 50px;
    font-weight: 700;
    text-align: center;
  }

  &__variants-title.mb {
    margin-bottom: 20px;
  }

  &__variants-items {
    margin-bottom: 30px;
  }

  &__variants-item {
    @include green-border-button;
    border-radius: 4px;
    border: 2px solid $green;
    width: 100%;
    text-align: center;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 0;
    margin-bottom: 20px;

    &.active {
      background: $green;
      color: $white;
    }

    &.java-start {
      text-decoration: none;
      padding: 30px 0;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      border: 2px solid $green;
      border-radius: 4px;
      background: none!important;
      color: $black!important;

      span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: -70px;
          top: 0;
          bottom: 0;
          margin: auto;
          background: url("./images/start.svg") no-repeat;
          width: 30px;
          height: 30px;
          display: block;
          background-size: contain;
        }
      }

      &:hover {
        background: none;
        border-color: $blue;
        box-shadow: none;
        color: $black;
      }
    }
  }

  &__variants-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .row {
      width: 100%;
      margin: 0;
      justify-content: space-between;
    }

    .col {
      padding: 0;
    }
  }

  &__variants-button {
    @include green-white-button;
    text-decoration: none;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
    width: 100%;
  }

  .hidden {
    opacity: 0;
    pointer-events: none;
  }

  .noSwiping {
    pointer-events: none;
  }

  .blocked {
    pointer-events: none;
    background-color: #bababa;
  }

  div[data-select="format"] {
    display: none;
  }

  &__trial {
    font-size: 16px;
    font-weight: 700;
    color: $black;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include respond-to('tablet-large') {
  .b-downloads {
    padding: 40px 0 80px;

    &__title {
      margin-bottom: 23px;
    }

    &__text {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &__included {
      font-size: 12px;
      margin-bottom: 20px;
    }

    &__list-item {
      font-size: 12px;
      margin-bottom: 11px;
      padding-left: 25px;
      display: flex;
      align-items: center;

      &:before {
        width: 15px;
        height: 15px;
      }
    }

    &__buttons {
      margin-top: 25px;
    }

    &__button {
      font-size: 12px;
      padding: 7px 0;
    }

    &__variants-title {
      font-size: 16px;
      margin-bottom: 30px;
    }

    &__variants-items {
      margin-bottom: 20px;
    }

    &__variants-item {
      font-size: 12px;
      padding: 6px 0;
      margin-bottom: 12px;

      &.java-start {
        padding: 25px 0;
        font-size: 12px;

        span {
          &:before {
            left: -35px;
            width: 25px;
            height: 23px;
          }
        }
      }
    }

    &__variants-button {
      padding: 6px 0;
      font-size: 12px;
    }

    &__trial {
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

@include respond-to('mobile-large') {
  .b-downloads {
    &__title {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 1199px) {
  .b-downloads {
    &__button {
      &--center {
        &:before {
          left: -26%;
        }

        &:after {
          right: -26%;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .b-downloads {
    &__justify-between {
      justify-content: start;
    }

    &__centered {
      margin: 0 30px;
    }

    &__button {
      &--center {
        &:after,
        &:before {
          background: url("./images/strelka2-black.png");
          width: 24px;
          height: 11px;
          display: block;
        }

        &:before {
          left: -28%;
        }

        &:after {
          right: -28%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .b-downloads {
    padding: 17px 0 0;

    &__buttons {
      display: none;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__text {
      font-size: 10px;
      margin-bottom: 15px;
    }

    &__included {
      font-size: 10px;
      margin-bottom: 15px;
    }

    &__list-item {
      font-size: 10px;
      margin-bottom: 9px;
      padding-left: 20px;

      &:before {
        width: 13px;
        height: 13px;
      }
    }

    &__slider,
    &__slider-container {
      background: none;
      box-shadow: none;
      padding: 0;
    }

    &__slider-slide {
      height: auto!important;
    }

    &__slide-content {
      box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
      border-radius: 4px;
      background-color: $white;
      margin-bottom: 4px;
      opacity: 0;
      height: 0;
      padding: 0;
      transition: all 150ms ease-in-out;
      display: none;
    }

    &__slide-title {
      @include blue-white-block;
      border-radius: 2px;
      text-align: center;
      cursor: pointer;
      font-size: 10px;
      font-weight: 400;
      padding: 8px 0;
      margin-bottom: 4px;
    }

    &__slider-slide {
      &--mobile-active {
        .b-downloads__slide-title {
          @include green-white-block;
          cursor: auto;
        }

        .b-downloads__slide-content {
          padding: 15px 0;
          opacity: 1;
          height: auto;
          display: block;

          .row {
            margin: 0;
          }
        }
      }
    }

    .swiper-pagination {
      display: none;
    }

    &__variants-title {
      font-size: 12px;
      margin-bottom: 15px;
      text-align: left;
    }

    &__variants-items {
      margin-bottom: 15px;
    }

    &__variants-item {
      font-size: 10px;
      padding: 6px 0;
      margin-bottom: 12px;
      text-align: left;
      padding-left: 13px;

      &.java-start {
        padding: 15px 0;
        font-size: 10px;

        span {
          &:before {
            left: -35px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &__variants-button {
      padding: 6px 0;
      font-size: 10px;
    }

    &__trial {
      font-size: 10px;
    }
  }
}