.b-embedded {
  position: relative;
  padding: 100px 0 90px;

  &__background {
    @include bg-black;
  }

  &__title {
    @include block-title;
    margin-bottom: 35px;
  }

  &__description {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  &__slider-container {
    overflow: hidden;
  }

  &__slider-wrapper {
    align-items: center;
  }

  &__slider-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, 0.4);
    min-height: 200px;
    flex-wrap: wrap;
    text-decoration: none;

    img {
      max-width: 100%;
    }

    span {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: $white;
      width: 100%;
      text-align: center;
      padding: 0 10%;
    }
  }

  &__button {
    margin-top: 40px;

    a {
      @include green-white-button;
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      padding: 12px 0;
      border-radius: 4px;
    }
  }
}

@include respond-to('tablet-large') {
  .b-embedded {
    padding: 60px 0 50px;

    &__title {
      margin-bottom: 22px;
    }

    &__description {
      font-size: 12px;
      margin-bottom: 25px;
    }

    &__button {
      margin-top: 25px;

      a {
        font-size: 12px;
        padding: 8px 0;
      }
    }

    &__slider-slide {
      min-height: 130px;

      img {
        max-width: 55%;
        max-height: 120px;
      }

      span {
        font-size: 12px;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-embedded {
    padding: 35px 0 45px;

    &__title {
      margin-bottom: 20px;
    }

    &__description {
      margin-bottom: 20px;
      font-size: 10px;
    }

    &__button {
      a {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-embedded {
    &__background {
      margin-top: -200px;
    }

    &__button {
      display: none;
    }

    &__slider {
      margin: 0 -10px;
    }

    &__slider-slide {
      min-height: 116px;

      img {
        max-width: 90%;
        max-height: 50px;
      }
    }
  }
}



.swiper-button-next-embedded,
.swiper-button-prev-embedded {
  position: absolute;
  top: 50%;
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  outline: none;

  &:after,
  &:before {
    opacity: 0.4;
    transition: all 150ms ease-in-out;
  }

  &:hover {
    &:after,
    &:before {
      opacity: 1;
    }
  }

  @include respond-to('tablet-large') {
    width: 19px;
  }

  @include respond-to('mobile-large') {
    width: 9px;
  }
}

.swiper-button-next-embedded {
  left: 15px;

  &:after {
    background: url(./images/forward-29-57.png) no-repeat;
    content: '';
    width: 29px;
    height: 57px;
  }

  @include respond-to('tablet-large') {
    &:after {
      width: 19px;
      height: 37px;
      background: url(./images/forward-19-37.png) no-repeat;
    }
  }

  @include respond-to('mobile-large') {
    &:after {
      background: url(./images/forw.png) no-repeat;
      width: 9px;
      height: 16px;
    }
  }
}

.swiper-button-prev-embedded {
  left: auto;
  right: 15px;

  &:after {
    transform: rotate(180deg);
    background: url(./images/forward-29-57.png) no-repeat;
    content: '';
    width: 29px;
    height: 57px;
  }

  @include respond-to('tablet-large') {
    &:after {
      transform: rotate(180deg);
      background: url(./images/forward-19-37.png) no-repeat;
      content: '';
      width: 19px;
      height: 37px;
    }
  }

  @include respond-to('mobile-large') {
    &:after {
      transform: rotate(180deg);
      background: url(./images/forw.png) no-repeat;
      width: 9px;
      height: 16px;
    }
  }
}