.b-intques {
  position: relative;
  padding: 100px 0;

  &__title {
    @include block-title-black;
    margin-bottom: 45px;
  }

  &__desc {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    color: $black;

    span {
      margin-bottom: 25px;
      display: block;
    }

    a {
      color: $black;
      font-weight: 700;
      
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__button {
    @include green-white-button;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 4px;
  }
}

@include respond-to('tablet-large') {
  .b-intques {
    padding: 60px 0;

    &__title {
      margin-bottom: 25px;
    }

    &__desc {
      margin-bottom: 35px;
      font-size: 12px;

      span {
        margin-bottom: 15px;
      }
    }

    &__button {
      font-size: 12px;
      padding: 8px 0;
    }
  }
}

@include respond-to('mobile-large') {
  .b-intques {
    padding: 35px 0;

    &__title {
      margin-bottom: 18px;
    }

    &__desc {
      margin-bottom: 18px;
      font-size: 10px;

      span {
        margin-bottom: 10px;
      }
    }

    &__button {
      font-size: 10px;
    }
  }
}