.b-plugins {
  position: relative;
  padding: 100px 0 0;

  &__background {
    @include bg-black;
    margin-bottom: 140px;
  }

  &__title {
    @include block-title;
    margin-bottom: 45px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    color: $white;
    margin-bottom: 25px;
  }

  &__list-title {
    font-size: 16px;
    font-weight: 400;
    color: $white;
    margin-bottom: 25px;
  }

  &__list {
    margin-bottom: 25px;
  }

  &__list-item {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;
    color: $white;

    &:before {
      display: block;
      content: ' ';
      width: 9px;
      height: 9px;
      background-color: $blue;
      position: absolute;
      left: 0;
      top: 5px;
      margin: auto;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    color: $white;
    margin-bottom: 30px;
  }

  &__image {
    text-align: center;

    img {
      max-width: 100%;
      margin: auto;
    }
  }

  &__button {
    margin-bottom: 70px;

    a {
      @include green-white-button;
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      padding: 12px 0;
      border-radius: 4px;
    }
  }

  &__item {
    box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
    border-radius: 8px;
    background-color: $white;
    padding: 50px 0;
    height: 100%;

    .row {
      height: 100%;
    }
  }

  &__item-content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
  }

  &__item-title {
    font-size: 26px;
    font-weight: 700;
    color: $black;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
  }

  &__item-img {
    margin-bottom: 35px;
    text-align: center;
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  &__item-desc {
    font-size: 16px;
    font-weight: 400;
    color: $black;
    margin-bottom: 50px;
    width: 100%;
  }

  &__item-button {
    width: 100%;

    a {
      @include green-white-button;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      padding: 12px 0;
      border-radius: 4px;
    }
  }
}

@include respond-to('tablet-large') {
  .b-plugins {
    padding: 60px 0 0;

    &__background {
      margin-bottom: 70px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__description {
      font-size: 12px;
      margin-bottom: 20px;
    }

    &__list-title {
      font-size: 12px;
      margin-bottom: 20px;
    }

    &__list {
      margin-bottom: 20px;
    }

    &__list-item {
      font-size: 12px;
      padding-left: 15px;

      &:before {
        width: 7px;
        height: 7px;
        left: 0;
      }
    }

    &__text {
      font-size: 12px;
      margin-bottom: 25px;
    }

    &__button {
      margin-bottom: 50px;

      a {
        font-size: 12px;
        padding: 8px 0;
      }
    }

    &__image {
      img {
        max-width: 145px;
      }
    }

    &__item {
      padding: 30px 0;
    }

    &__item-title {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &__item-img {
      margin-bottom: 20px;

      img {
        max-width: 100px;
      }
    }

    &__item-desc {
      font-size: 12px;
      margin-bottom: 25px;
    }

    &__item-button {
      a {
        font-size: 12px;
        padding: 8px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-plugins {
    padding: 45px 0 0;

    &__background {
      margin-bottom: 70px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__description {
      font-size: 10px;
      margin-bottom: 10px;
    }

    &__list-title {
      font-size: 10px;
      margin-bottom: 10px;
    }

    &__list {
      margin-bottom: 25px;
    }

    &__list-item {
      font-size: 10px;

      &:before {
        top: 3px;
      }
    }

    &__text {
      font-size: 10px;
    }

    &__button {
      margin-bottom: 30px;

      a {
        font-size: 10px;
        padding: 8px 0;
      }
    }

    &__topimg {
      position: absolute;
      top: 16px;
      right: 16px;
      max-width: 100%;
    }

    &__item {
      padding: 30px 0;
      margin-bottom: 15px;
      height: auto;

      .row {
        height: auto;
      }

      &--last {
        margin-bottom: 0;
      }
    }

    &__item-title {
      text-align: left;
      font-size: 12px;
    }

    &__item-img {
      display: none;
    }

    &__item-desc {
      font-size: 10px;
      margin-bottom: 20px;
    }

    &__item-button {
      a {
        font-size: 10px;
      }
    }
  }
}