.b-sonarqube {
  position: relative;
  padding: 100px 0;

  &__title {
    @include block-title-black;
    margin-bottom: 40px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    color: $black;
    margin-bottom: 25px;
  }

  &__list-title {
    font-size: 16px;
    font-weight: 400;
    color: $black;
    margin-bottom: 25px;
  }

  &__list {
    margin-bottom: 45px;
  }

  &__list-item {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;

    &:before {
      display: block;
      content: ' ';
      width: 9px;
      height: 9px;
      background-color: $blue;
      position: absolute;
      left: 0;
      top: 5px;
      margin: auto;
    }
  }

  &__image {
    text-align: center;

    img {
      max-width: 100%;
      margin: auto;
    }
  }

  &__button {
    a {
      @include green-white-button;
      font-size: 16px;
      font-weight: 400;
      display: inline-block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      padding: 12px 0;
      border-radius: 4px;
    }
  }
}

@include respond-to('tablet-large') {
  .b-sonarqube {
    padding: 60px 0;

    &__title {
      margin-bottom: 30px;
    }

    &__description {
      font-size: 12px;
      margin-bottom: 20px;
    }

    &__list-title {
      font-size: 12px;
      margin-bottom: 20px;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__list-item {
      font-size: 12px;
      padding-left: 15px;

      &:before {
        width: 7px;
        height: 7px;
        left: 0;
      }
    }

    &__button {
      a {
        font-size: 12px;
        padding: 8px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-sonarqube {
    padding: 45px 0 25px;

    &__title {
      margin-bottom: 15px;
    }

    &__description {
      font-size: 10px;
      margin-bottom: 10px;
    }

    &__list-title {
      font-size: 10px;
      margin-bottom: 10px;
    }

    &__list {
      margin-bottom: 25px;
    }

    &__list-item {
      font-size: 10px;

      &:before {
        top: 3px;
      }
    }

    &__button {
      a {
        font-size: 10px;
        padding: 8px 0;
      }
    }

    &__topimg {
      position: absolute;
      top: 16px;
      right: 16px;
      max-width: 100%;
    }
  }
}