.b-blog {
  padding: 35px 0 60px;

  &__title {
    @include block-title-black;
    margin-bottom: 50px;
  }

  &__tabs {
    display: flex;
    margin-bottom: 60px;
  }

  &__tab {
    margin-right: 45px;
    font-size: 20px;
    font-weight: 400;
    color: $black;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: -10px;
      height: 4px;
      background: $green;
      content: '';
      display: block;
      opacity: 0;
      transition: all 250ms ease-in-out;
    }

    &:hover {
      &:after {
        opacity: 1;
        left: 0;
        right: 0;
      }
    }

    &--active {
      pointer-events: none;

      &:after {
        opacity: 1;
        left: 0;
        right: 0;
      }
    }

    &--active-search {
      &:after {
        opacity: 1;
        left: 0;
        right: 0;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
  }

  &__filters {
    display: flex;
  }

  &__filter {
    width: 100%;
    border: 2px solid #d2d2d2;
    border-radius: 20px;
    padding: 9px 0;
    font-size: 16px;
    font-weight: 400;
    color: $black;
    cursor: pointer;
    min-width: 160px;
    margin-right: 30px;
    transition: all 250ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:hover {
      border-color: $green;
    }

    &--active {
      pointer-events: none;
      border-color: $green;
    }

    &--more {
      position: relative;

      &:hover {
        .b-blog__filter-content {
          display: block;
        }

        span {
          &:after {
            transform: rotate(0deg);
          }
        }
      }

      span {
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 6px;
          height: 3px;
          background: url("./images/more.png");
          right: -10px;
          top: 0;
          bottom: 0;
          position: ABSOLUTE;
          margin: auto;
          transform: rotate(180deg);
        }
      }
    }
  }

  &__filter-content {
    position: absolute;
    display: none;
    background-color: #f4f4f4;
    box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
    border-radius: 2px;
    text-align: left;
    padding: 20px 40px;
    min-width: 300px;
    z-index: 100;
    top: calc(100% + 16px);
    left: 0;

    a {
      color: $black;
      text-decoration: none;
      margin: 10px 0;
      display: block;

      &:hover {
        color: $green;
      }

      &.active {
        pointer-events: none;
        color: $green;
      }
    }
  }

  .arrow {
    width: 300px;
    height: 44px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -44px;
    transform: rotate(180deg);
    z-index: 100;

    &:after {
      content: "";
      position: absolute;
      left: 230px;
      top: -20px;
      width: 35px;
      height: 25px;
      background: #f4f4f4;
      transform: rotate(45deg);
    }
  }

  &__search-input {
    position: relative;

    input {
      background-color: $white;
      border-radius: 4px;
      padding: 10px 10px 10px 60px;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
      text-decoration: underline;
      color: $grey2;
      outline: none;
      border: none;
      width: 100%;

      &::placeholder {
        color: $grey2;
      }
    }

    &::before {
      position: absolute;
      display: block;
      content: '';
      background: url("./images/search_bottom.png");
      top: 0;
      bottom: 0;
      left: 15px;
      width: 22px;
      height: 22px;
      background-size: cover;
      margin: auto;
    }
  }

  &__items {
    margin-bottom: 30px;
  }

  &__item {
    background-color: $white;
    box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    height: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap
  }

  &__item-img {
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 270px;
    background-color: #d5d7d8;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  &__item-title {
    font-size: 26px;
    line-height: 31px;
    font-weight: 400;
    color: $black;
    margin-bottom: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item-author {
    font-size: 16px;
    font-weight: 400;
    color: $grey2;
    margin-bottom: 20px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    margin-bottom: 20px;

    p {
      margin-top: 0;
    }
  }

  &__item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__item-tags {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }

  &__item-tag {
    font-size: 16px;
    color: $blue;
    text-decoration: none;
    margin-right: 7px;
  }

  &__item-date {
    text-align: right;
    font-size: 16px;
    color: $grey2;
  }

  &__sub {
    margin-bottom: 50px;
    padding: 50px;
    border: 3px solid $green;
  }

  &__sub-title {
    font-size: 30px;
    font-weight: 700;
    color: $black;
    margin-bottom: 22px;
  }

  &__sub-desc {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: $black;
    margin-bottom: 20px;
  }

  &__sub-input {
    position: relative;

    input {
      width: 100%;
      outline: none;
      border: none;
      background-color: $white;
      border-radius: 2px;
      padding: 7px 15px;
      font-size: 16px;
      line-height: 27px;
      font-weight: 400;
      font-style: italic;
      color: $grey2;

      &::placeholder {
        color: $grey2;
      }
    }

    .error {
      position: absolute;
      bottom: -18px;
      font-size: 14px;
      color: $red;
      display: none;

      img {
        margin-right: 5px;
      }
    }

    &.error {
      input {
        border-color: $red;
      }

      .error {
        display: block;
      }
    }
  }

  &__sub-button {
    input {
      @include green-white-button;
      text-align: center;
      border-radius: 4px;
      outline: none;
      font-size: 16px;
      font-weight: 400;
      padding: 12px 0;
      border: none;
      width: 100%;
    }
  }

  &__sub-politic {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: italic;
    color: $grey2;

    a {
      text-decoration: underline;
      color: $grey2;
    }
  }

  &__pagen {
    margin-bottom: 70px;
  }

  &__stay-title {
    font-size: 30px;
    font-weight: 700;
    color: $black;
    margin-bottom: 55px;
  }

  &__stay-sub {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $black;
    margin-bottom: 50px;
  }

  &__stay-desc {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $black;
    margin-bottom: 20px;
  }

  &__stay-button {
    @include green-white-button;
    text-align: center;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 0;
    border: none;
    width: 100%;
    display: block;
    text-decoration: none;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@include respond-to('tablet-large') {
  .b-blog {
    padding-top: 20px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 35px;
    }

    &__tabs {
      margin-bottom: 35px;
    }

    &__tab {
      margin-right: 20px;
      font-size: 16px;
      position: relative;

      &:after {
        height: 2px;
        bottom: -5px;
      }
    }

    &__top {
      margin-bottom: 35px;
    }

    &__filter {
      border-radius: 12px;
      padding: 4px 0;
      font-size: 12px;
      min-width: 90px;
      margin-right: 30px;
    }

    &__filter-content {
      text-align: left;
      padding: 10px 20px;
      min-width: 200px;
      z-index: 100;

      a {
        font-size: 12px;
      }
    }

    &__search-input {
      input {
        padding: 7px 10px 7px 40px;
        font-size: 12px;
      }

      &::before {
        left: 10px;
        width: 15px;
        height: 15px;
      }
    }

    &__items {
      margin-bottom: 10px;
    }

    &__item {
      padding: 15px;
      margin-bottom: 20px;
      height: calc(100% - 20px);
    }

    &__item-img {
      min-height: 167px;
      margin-bottom: 20px;
    }

    &__item-title {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 13px;
    }

    &__item-author {
      font-size: 12px;
      margin-bottom: 13px;
    }

    &__item-text {
      font-size: 12px;
      line-height: 1.2;
      margin-bottom: 13px;
    }

    &__item-tags {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
    }

    &__item-tag {
      font-size: 12px;
      margin-right: 5px;
    }

    &__item-date {
      font-size: 12px;
    }

    &__sub {
      margin-bottom: 30px;
      padding: 20px 30px;
    }

    &__sub-title {
      font-size: 18px;
      margin-bottom: 12px;
    }

    &__sub-desc {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 12px;
    }

    &__sub-input {
      input {
        padding: 4px 10px;
        font-size: 12px;
      }

      .error {
        bottom: -13px;
        font-size: 10px;

        img {
          margin-bottom: -2px;
          margin-right: 5px;
        }
      }
    }

    &__sub-button {
      input {
        font-size: 12px;
        padding: 8px 0;
      }
    }

    &__sub-politic {
      font-size: 10px;
      line-height: 10px;
    }

    &__pagen {
      margin-bottom: 50px;
    }

    &__stay-title {
      font-size: 18px;
      margin-bottom: 35px;
    }

    &__stay-sub {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 15px;
    }

    &__stay-desc {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 0;
    }

    &__stay-button {
      font-size: 12px;
      padding: 8px 0;
    }

    &__socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__social {
      text-decoration: none;
      transition: all .2s ease-in-out;
      display: inline-block;
      width: auto;
      box-sizing: border-box;

      img {
        max-height: 20px;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-blog {
    padding-top: 20px;
    padding-bottom: 30px;

    &__title {
      margin-bottom: 20px;
    }

    &__tabs {
      margin-bottom: 20px;
    }

    &__tab {
      margin-right: 15px;
      font-size: 10px;

      &:after {
        height: 2px;
        bottom: -4px;
      }
    }

    &__top {
      margin-bottom: 15px;
      flex-wrap: wrap;
    }

    &__filters {
      order: 1;
    }

    &__filter {
      border-radius: 10px;
      padding: 4px 0;
      font-size: 10px;
      min-width: 50px;
      margin-right: 10px;
    }

    &__filter-content {
      text-align: left;
      padding: 5px 10px;
      min-width: 150px;
      z-index: 100;
      margin-left: -50px;

      a {
        font-size: 10px;
      }
    }

    .arrow {
      &:after {
        left: 204px;
      }
    }

    &__search {
      order: 0;
      margin-bottom: 7px;
      width: 100%;
      display: none;
    }

    &__search-input {
      input {
        padding: 7px 10px 7px 40px;
        font-size: 12px;
      }
    }

    &__items {
      margin-bottom: 10px;
    }

    &__item {
      padding: 12px;
      margin-bottom: 10px;
      height: calc(100% - 10px);
    }

    &__item-img {
      min-height: 149px;
      margin-bottom: 15px;
    }

    &__item-title {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 10px;
    }

    &__item-author {
      font-size: 10px;
      margin-bottom: 10px;
    }

    &__item-text {
      font-size: 10px;
      line-height: 1.2;
      margin-bottom: 10px;
    }

    &__item-tags {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
    }

    &__item-tag {
      font-size: 10px;
      margin-right: 3px;
    }

    &__item-date {
      font-size: 10px;
    }

    &__sub {
      margin: 10px -15px;
      border-right: 0;
      border-left: 0;
      padding: 20px 30px;
    }

    &__sub-title {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 10px;
    }

    &__sub-desc {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 10px;
    }

    &__sub-input {
      margin-bottom: 15px;

      input {
        padding: 2px 10px;
        font-size: 10px;
      }
    }

    &__sub-button {
      margin-bottom: 10px;
      input {
        font-size: 10px;
        padding: 8px 0;
      }
    }

    &__sub-politic {
      font-size: 10px;
      line-height: 10px;
    }

    &__pagen {
      margin-bottom: 30px;
    }

    &__stay-title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    &__stay-sub {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 10px;
    }

    &__stay-desc {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 15px;
    }

    &__stay-button {
      font-size: 10px;
      padding: 8px 0;margin-bottom: 10px;
    }

    &__socials {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__social {
      text-decoration: none;
      transition: all .2s ease-in-out;
      display: inline-block;
      width: auto;
      box-sizing: border-box;

      img {
        max-height: 20px;
        max-width: 100%;
      }
    }
  }
}