.b-new {
  padding: 35px 0 60px;

  &__title {
    @include block-title-black;
    margin-bottom: 50px;
  }

  &__items {
    margin-bottom: 50px;
  }

  &__item {
    background-color: $white;
    box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
    border-radius: 8px;
    padding: 30px 30px 60px;
    margin-bottom: 20px;
    height: calc(100% - 20px);
  }

  &__item-img {
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 270px;
    background-color: #d5d7d8;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 1.2;

    p {
      margin-top: 0;
    }
  }

  &__more {
    font-size: 26px;
    color: $black;
  }

  &__button {
    @include green-white-button;
    padding: 12px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
    display: block;
    text-decoration: none;
  }
}

@include respond-to('tablet-large') {
  .b-new {
    padding-top: 20px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 35px;
    }

    &__items {
      margin-bottom: 20px;
    }

    &__item {
      padding: 15px;
    }

    &__item-img {
      min-height: 170px;
      margin-bottom: 15px;
    }

    &__item-text {
      font-size: 12px;
    }

    &__more {
      font-size: 16px;
    }

    &__button {
      padding: 6px 10px;
      font-size: 12px;
    }
  }
}

@media (max-width: 767px) {
  .b-new {
    padding-top: 0;
    padding-bottom: 35px;

    &__title {
      margin-bottom: 15px;
    }

    &__items {
      margin-bottom: 10px;
    }

    &__item {
      padding: 13px;
      height: auto;
      margin-bottom: 10px;
    }

    &__item-img {
      min-height: 150px;
      margin-bottom: 12px;
    }

    &__item-text {
      font-size: 10px;
    }

    &__more {
      font-size: 12px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    &__button {
      padding: 6px 10px;
      font-size: 10px;
    }
  }
}