.b-artic {
  padding: 100px 0;

  &--nopadding {
    padding: 0!important;
  }

  &__title {
    @include block-title-black;
    margin-bottom: 50px;
    line-height: 30px;
  }

  &__slider {
    position: relative;
  }

  &__slider-container {
    overflow: hidden;
  }

  &__slider-slide {
    position: relative;
    background-color: $white;
    box-shadow: 3px 3px 6px 0px rgba(65,72,75,0.25);
    border-radius: 4px;
    height: auto;
    text-decoration: none!important;
  }

  &__slider-content {
    padding: 20px;
  }

  &__slider-img {
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 175px;
    background-color: #d5d7d8;
    margin-bottom: 23px;
  }

  &__slider-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $black;
    margin-bottom: 25px;
  }

  &__slider-info {
    font-size: 14px;
    line-height: 1.2;
    color: $grey2;
    margin-bottom: 25px;

    p {
      margin: 0;
    }
  }

  &__slider-desc {
    font-size: 14px;
    color: $black;
  }

  &__button {
    @include green-white-button;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 4px;
    margin-top: 30px;
  }

  &__slider-leftnav,
  &__slider-rightnav {
    position: relative;
  }
}

@include respond-to('tablet-large') {
  .b-artic {
    padding: 60px 0  50px;

    &__title {
      margin-bottom: 30px;
      line-height: 24px;
    }

    &__slider-content {
      padding: 12px 12px 20px;
    }

    &__slider-img {
      min-height: 110px;
      margin-bottom: 15px;
    }

    &__slider-title {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 10px;
    }

    &__slider-info {
      font-size: 10px;
      margin-bottom: 10px;
    }

    &__slider-desc {
      font-size: 10px;
      color: $black;
    }

    &__button {
      font-size: 12px;
      padding: 8px 0;
      margin-top: 23px;
    }
  }
}


@media (max-width: 767px) {
  .b-artic {
    padding: 35px 0  30px;

    &__content {
      overflow: hidden;
    }

    &__title {
      margin-bottom: 23px;
      line-height: 15px;
    }

    &__slider-content {
      padding: 10px 10px 15px;
    }

    &__slider-img {
      min-height: 100px;
      margin-bottom: 20px;
    }

    &__slider-title {
      font-size: 10px;
      line-height: 12px;
    }

    &__button {
      font-size: 10px;
      margin-top: 10px;
    }

    &__slider-leftnav,
    &__slider-rightnav {
      display: none;
    }
  }
}

@media (max-width: 440px) {
  .b-artic {
    &__slider {
      margin: 0 -45px;
    }
  }
}


.swiper-button-next-artic,
.swiper-button-prev-artic {
  position: absolute;
  top: 50%;
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  outline: none;

  &:after,
  &:before {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
  }

  &:hover {
    &:after,
    &:before {
      opacity: 1;
    }
  }

  @include respond-to('tablet-large') {
    width: 22px;
  }
}

.swiper-button-next-artic {
  left: auto;
  right: -45px;

  &:after {
    background: url(./images/forward-40-78.png) no-repeat;
    transform: rotate(180deg);
    content: '';
    width: 40px;
    height: 78px;
  }

  &:hover {
    &:after {
      transform: rotate(0deg);
      background: url(./images/forward-40-78-hover.png) no-repeat;
    }
  }

  @include respond-to('tablet-large') {
    right: -15px;

    &:after {
      background: url(./images/forward-22-42.png) no-repeat;
      content: '';
      width: 22px;
      height: 42px;
    }

    &:hover {
      &:after {
        background: url(./images/forward-22-42-hover.png) no-repeat;
      }
    }
  }
}

.swiper-button-prev-artic {
  left: -45px;

  &:after {
    background: url(./images/forward-40-78.png) no-repeat;
    content: '';
    width: 40px;
    height: 78px;
  }

  &:hover {
    &:after {
      transform: rotate(180deg);
      background: url(./images/forward-40-78-hover.png) no-repeat;
    }
  }

  @include respond-to('tablet-large') {
    left: -15px;

    &:after {
      background: url(./images/forward-22-42.png) no-repeat;
      content: '';
      width: 22px;
      height: 42px;
    }

    &:hover {
      &:after {
        background: url(./images/forward-22-42-hover.png) no-repeat;
      }
    }
  }
}