.b-best {
  position: relative;
  padding: 100px 0 60px;

  &__background {
    @include bg-black;
  }

  &__title {
    @include block-title;
    margin-bottom: 40px;

    &--second {
      font-size: 26px;
      font-weight: 400;
    }
  }

  &__photo {
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }
  }

  &__button {
    @include green-white-button;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 4px;
    margin-top: 20px;
    color: $white;
    margin-bottom: 50px;
  }
}

@include respond-to('tablet-large') {
  .b-best {
    padding: 60px 0 30px;

    &__title {
      margin-bottom: 30px;

      &--second {
        font-size: 16px;
      }
    }

    &__photo {
      margin-bottom: 6px;
    }

    &__button {
      font-size: 12px;
      padding: 10px 0;
      margin-bottom: 20px;
    }
  }
}

@include respond-to('mobile-large') {
  .b-best {
    &__title {
      margin-bottom: 15px;

      &--second {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-best {
    padding: 40px 0 20px;

    &__background {
      margin-top: -50px;
    }

    &__title {
      &--second {
        margin-bottom: 20px;
      }

      &--personal {
        margin-top: 20px;
      }
    }

    &__button {
      font-size: 10px;
      padding: 7px 0;
      margin-bottom: 5px;
      margin-top: 0;
    }
  }
}