.b-rise {
  padding: 100px 0;

  &__title {
    @include block-title-black;
    margin-bottom: 50px;
  }

  &__slider {
    position: relative;
    box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
    border-radius: 8px;
    background: $white;
  }

  &__slider-container {
    overflow: hidden;
  }

  &__slider-slide {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      border-radius: 8px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      display: block;
      width: 250px;
      right: 0;
      top: 0;
      bottom: 0;
      background: #767b90;
    }
  }

  &__slider-img {
    z-index: 10000;
    position: absolute;
    width: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;

    img {
      max-width: 100%;
      object-fit: cover;
      border-radius: 8px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &__slider-content {
    padding: 50px 0;
  }

  &__progress {
    background-color: $white;
    box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative;
  }

  &__progress-container {
    overflow: hidden;
  }

  &__progress-center {
    position: absolute;
    margin: auto;
    top: -30px;
    left: 0;
    right: 0;
    text-align: center;

    img {
      margin-left: 1px;
      max-width: 100%;
    }
  }

  &__years {
    display: flex;
    flex-wrap: nowrap;
    transform: translateX(0);
    cursor: pointer;
  }

  &__year {
    min-width: 60px;
    text-align: center;
    padding: 10px 0 3px;
    position: relative;

    span {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 5px;
      width: 1px;
      background: $black;
      content: '';

      &:nth-child(1) {
        left: 0;
      }

      &:nth-child(2) {
        left: 15px;
      }

      &:nth-child(3) {
        left: 30px;
        height: 8px;
      }

      &:nth-child(4) {
        left: 45px;
      }
    }

    &:first-child {
      span {
        &:nth-child(1),
        &:nth-child(2) {
          display: none;
        }
      }
    }

    &:last-child {
      span {
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }

  &__slider-item {
    margin-bottom: 25px;
  }

  &__slider-date {
    font-size: 16px;
    font-weight: 700;
    color: $blue;
    text-align: right;
  }

  &__slider-desc {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: $black;
  }

  &__progress-left,
  &__progress-right {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;

    img {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__progress-left {
    left: -28px;

    img {
      transform: rotate(180deg);
    }
  }

  &__progress-right {
    right: -28px;
  }
}

@include respond-to('tablet-large') {
  .b-rise {
    padding: 60px 0;

    &__title {
      margin-bottom: 30px;
    }

    &__slider-slide {
      &::after {
        display: block;
        width: 150px;
      }
    }

    &__slider-img {
      width: 150px;
    }

    &__slider-content {
      padding: 30px 0;
    }

    &__progress {
      margin-bottom: 15px;
    }

    &__year {
      font-size: 12px;
    }

    &__slider-item {
      margin-bottom: 25px;
    }

    &__slider-date {
      font-size: 12px;
    }

    &__slider-desc {
      font-size: 12px;
      line-height: 1.2;
    }

    &__progress-left {
      left: -20px;
    }

    &__progress-right {
      right: -20px;
    }
  }
}

@media (max-width: 767px) {
  .b-rise {
    padding: 35px 0 0;

    &__title {
      margin-bottom: 20px;
    }

    &__slider-slide {
      &::after {
        display: none;
      }
    }

    &__slider-img {
      display: none;
    }

    &__slider-content {
      padding: 15px;
    }

    &__progress {
      margin-bottom: 10px;
    }

    &__year {
      font-size: 10px;
    }

    &__slider-item {
      margin-bottom: 10px;
    }

    &__slider-date {
      font-size: 10px;
    }

    &__slider-desc {
      font-size: 10px;
    }

    &__progress-left,
    &__progress-right {
      display: none;
    }
  }
}