.b-team {
  padding: 35px 0 60px;
  position: relative;
  margin-bottom: 100px;

  &__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(./images/team_pic.png) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -3;
    margin-top: 90px;
    margin-bottom: 80px;
  }

  &__title {
    @include block-title-black;
    margin-bottom: 50px;
  }

  &__slider {
    position: relative;
    background: $white;
    box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
    border-radius: 8px;
    padding: 50px 30px;
  }

  &__slider-container {
    overflow: hidden;
  }

  &__slider-slide {
    position: relative;
  }

  &__slider-title {
    font-size: 30px;
    font-weight: 700;
    color: $black;
    margin-bottom: 45px;

    span {
      color: $blue;
    }
  }

  &__slider-desc {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $black;

    a {
      text-decoration: underline;
      color: $blue;
      margin-bottom: 15px;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  &__social {
    margin-right: 20px;

    img {
      max-width: 100%;
    }
  }

  &__stat {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }

  &__stat-left {
    min-width: 100px;
    text-align: right;
    font-size: 30px;
    color: $blue;
  }

  &__stat-right {
    font-size: 16px;
    color: $black;
    padding-left: 20px;
  }

  &__slider-leftnav,
  &__slider-rightnav {
    position: relative;
  }

  &__mission {
    background-color: $blue;
    border: 2px solid $blue;
    border-radius: 0 2px 2px 0;

    &--absolute {
      position: absolute;
      left: 90px;
      bottom: 110px;
      width: 190%;
    }

    &.hide {
      display: none;
    }
  }

  &__mission-text {
    position: relative;
    padding: 35px 25px;
    font-size: 26px;
    line-height: 27px;
    font-weight: 400;
    color: $white;

    span {
      color: $black;
      font-weight: 400;
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      left: -20px;
      width: 12px;
      top: -2px;
      height: calc(100% + 4px);
      bottom: 0;
      background: $black;
    }
  }
}

@include respond-to('tablet-large') {
  .b-team {
    padding: 20px 0 60px;
    margin-bottom: 30px;

    &__title {
      margin-bottom: 35px;
    }

    &__background {
      margin-top: 60px;
    }

    &__slider {
      padding: 30px 15px;
    }

    &__slider-title {
      font-size: 18px;
      margin-bottom: 25px;
    }

    &__slider-desc {
      font-size: 12px;
      line-height: 16px;

      a {
        margin-bottom: 10px;
      }

      p {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }

    &__socials {
      margin-top: 5px;
    }

    &__social {
      margin-right: 20px;
    }

    &__stat {
      margin-bottom: 33px;
    }

    &__stat-left {
      min-width: 80px;
      font-size: 18px;
    }

    &__stat-right {
      font-size: 12px;
      padding-left: 15px;
    }

    &__mission {
      &--absolute {
        position: absolute;
        left: 60px;
        bottom: 70px;
        width: 150%;
      }
    }

    &__mission-text {
      padding: 25px 15px;
      font-size: 16px;
      line-height: 18px;

      &:before {
        left: -20px;
        width: 12px;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-team {
    padding: 0;
    margin-bottom: 0;

    &__title {
      margin-bottom: 15px;
    }

    &__background {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    &__slider {
      padding: 25px 12px;
    }

    &__slider-title {
      font-size: 12px;
      margin-bottom: 18px;
    }

    &__slider-desc {
      font-size: 10px;
      line-height: 14px;

      a {
        margin-bottom: 6px;
      }

      p {
        margin-top: 0;
        margin-bottom: 2px;
      }
    }

    &__socials {
      margin-top: 5px;
    }

    &__social {
      margin-right: 10px;

      img {
        max-width: 18px;
      }
    }

    &__stat {
      margin-bottom: 20px;
    }

    &__stat-left {
      min-width: 70px;
      font-size: 14px;
    }

    &__stat-right {
      font-size: 10px;
      padding-left: 15px;
    }

    &__mission {
      margin-top: 70px;
      &--absolute {
        display: none;
      }
    }

    &__mission-text {
      padding: 15px;
      font-size: 12px;
      line-height: 14px;

      &:before {
        display: none;
      }
    }
  }
}








.swiper-button-next-team,
.swiper-button-prev-team {
  position: absolute;
  top: 50%;
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  outline: none;

  &:after,
  &:before {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
  }

  &:hover {
    &:after,
    &:before {
      opacity: 1;
    }
  }

  @include respond-to('tablet-large') {
    width: 22px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.swiper-button-next-team {
  left: auto;
  right: -45px;

  &:after {
    background: url(./images/forward-40-78.png) no-repeat;
    transform: rotate(180deg);
    content: '';
    width: 40px;
    height: 78px;
  }

  &:hover {
    &:after {
      transform: rotate(0deg);
      background: url(./images/forward-40-78-hover.png) no-repeat;
    }
  }

  @include respond-to('tablet-large') {
    right: -15px;

    &:after {
      background: url(./images/forward-22-42.png) no-repeat;
      content: '';
      width: 22px;
      height: 42px;
    }

    &:hover {
      &:after {
        background: url(./images/forward-22-42-hover.png) no-repeat;
      }
    }
  }
}

.swiper-button-prev-team {
  left: -45px;

  &:after {
    background: url(./images/forward-40-78.png) no-repeat;
    content: '';
    width: 40px;
    height: 78px;
  }

  &:hover {
    &:after {
      transform: rotate(180deg);
      background: url(./images/forward-40-78-hover.png) no-repeat;
    }
  }

  @include respond-to('tablet-large') {
    left: -15px;

    &:after {
      background: url(./images/forward-22-42.png) no-repeat;
      content: '';
      width: 22px;
      height: 42px;
    }

    &:hover {
      &:after {
        background: url(./images/forward-22-42-hover.png) no-repeat;
      }
    }
  }
}

.swiper-pagination {
  bottom: 30px !important;

  @include respond-to('tablet-large') {
    bottom: 15px !important;
  }
}

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: $grey3 !important;
  margin: 0 6px !important;
  opacity: 1 !important;

  &-active {
    background-color: $green !important;
  }

  @include respond-to('tablet-large') {
    margin: 0 4px !important;
  }
}