.b-about {
  padding-bottom: 100px;

  &__title {
    @include block-title-black;
    margin: 100px 0 60px;
  }

  &__item {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    text-align: center;
  }

  &__item-img {
    width: 100%;
    margin-bottom: 20px;

    img {
      max-width: 100%;
    }
  }

  &__item-title {
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    padding: 0 45px;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.2;
    color: $black;
  }

  &__button {
    @include green-white-button;
    padding: 12px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
  }
}

@include respond-to('tablet-large') {
  .b-about {
    padding-bottom: 50px;

    &__title {
      margin: 55px 0 30px;
    }

    &__item-img {
      margin-bottom: 15px;

      img {
        max-width: 68px;
      }
    }

    &__item-title {
      font-size: 12px;
      line-height: 1.1;
      padding: 0 8px;
    }

    &__desc {
      font-size: 12px;
      line-height: 1.1;
    }

    &__button {
      padding: 8px 0;
      font-size: 12px;
    }
  }
}

@media (max-width: 767px) {
  .b-about {
    padding-bottom: 20px;

    &__title {
      margin: 20px 0 10px;
    }

    &__item {
      flex-wrap: nowrap;
      text-align: left;
      margin-bottom: 10px;
      align-items: start;
    }

    &__item.mb {
      margin-bottom: 0;
    }

    &__item-img {
      margin-bottom: 0;
      width: 30px;

      img {
        max-width: 25px;
      }
    }

    &__item-title {
      font-size: 10px;
      line-height: 1;
      padding: 0 4px;
    }

    &__desc {
      font-size: 10px;
      line-height: 1;
    }

    &__button {
      margin-top: 20px;
      padding: 8px 0;
      font-size: 10px;
    }
  }
}