.b-licenses {
  position: relative;
  padding: 35px 0 0;

  &__background {
    @include bg-black;
    margin-top: 480px;
    margin-bottom: 90px;
  }

  &__title {
    @include block-title-black;
    margin-bottom: 60px;
  }

  &__item {
    background-color: $white;
    box-shadow: 3px 3px 6px 0px rgba(64,72,75,0.25);
    border-radius: 8px;
    padding: 60px 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-title {
    font-size: 26px;
    font-weight: 700;
    color: $black;
    margin-bottom: 40px;
  }

  &__item-img {
    margin-bottom: 15px;

    img {
      max-width: 100%;
    }
  }

  &__item-button {
    @include green-white-button;
    padding: 12px 0;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 4px;
  }

  &__item-list {
    padding-top: 30px;
  }

  &__item-listitem {
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;

    &::before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      top: 0;
      background: url(./images/check.png) no-repeat;
      width: 25px;
      height: 25px;
      background-size: contain;
    }

    img {
      margin: 0 0 -3px 6px;
    }
  }

  &__advantage-info {
    display: inline-block;
    margin-left: -4px;
    cursor: pointer;

    img {
      max-width: 100%;
    }

    &:hover {
      .b-licenses__advantage-tooltip {
        .tooltips {
          opacity: 1;
        }
      }
    }
  }

  &__advantage-tooltip {
    position: absolute;
    min-width: 300px;
    margin-left: -150px;

    .tooltips {
      cursor: default;
      padding: 11px 13px 8px;
      box-shadow: 5px 5px 7px 1px rgba(84, 36, 0, 0.26);
      background: $white-soft;
      margin-top: 12px;
      transition: all 150ms ease-in-out;
      font-size: 14px;
      z-index: 2;
      line-height: 18px;

      a {
        color: $blue;
        display: block;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .arrow {
      left: 127px;

      &:after {
        background: $white-soft;
      }
    }

    &--active {
      .tooltips {
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}

@include respond-to('tablet-large') {
  .b-licenses {
    padding-top: 20px;

    &__background {
      margin-top: 250px;
    }

    &__title {
      margin-bottom: 35px;
    }

    &__item {
      padding: 40px 0;
    }

    &__item-title {
      font-size: 16px;
      margin-bottom: 25px;
    }

    &__item-button {
      padding: 8px 0;
      font-size: 12px;
    }

    &__item-list {
      padding-top: 20px;
    }

    &__item-listitem {
      font-size: 12px;
      margin-bottom: 15px;
      padding-left: 25px;
      line-height: 1.1;

      &::before {
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
      }

      img {
        width: 14px;
        margin: 0 0 -4px 4px;
      }
    }

    &__advantage-info {
      max-width: 11px;

      img {
        margin: 0 0 -3px 4px;
      }
    }

    &__advantage-tooltip {
      min-width: 190px;

      .tooltips {
        max-width: 190px;
        line-height: 12px;
        padding: 8px 9px 5px;
        font-size: 9px;
      }

      .arrow {
        left: 122px;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-licenses {
    padding-top: 0;

    &__background {
      margin-top: 200px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__item {
      padding: 20px 15px;
      margin-bottom: 10px;
    }

    &__item-title {
      font-size: 12px;
      margin-bottom: 5px;
      text-align: center;
    }

    &__item-button {
      padding: 8px 0;
      font-size: 10px;
    }

    &__item-list {
      padding-top: 10px;
    }

    &__item-listitem {
      font-size: 10px;
      margin-bottom: 10px;
      padding-left: 15px;
      line-height: 1;

      &::before {
        left: 0;
        top: 0;
        width: 12px;
        height: 12px;
      }

      img {
        width: 10px;
        height: 10px;
        margin: 0 0 -1px 4px;
      }
    }

    &__advantage-info {
      display: none;
      margin-left: 2px;

      img {
        margin: 0 0 -3px 1px;
      }
    }

    &__advantage-tooltip {
      display: none;
      margin-left: -80px;

      .arrow {
        left: 49px;
      }
    }
  }
}