.b-advantages {
  padding: 100px 0;

  &__title {
    @include block-title-black;
    margin-bottom: 60px;
  }

  &__item-content {
    height: 0;
    overflow: hidden;
    transition: all .35s cubic-bezier(.4, 0, .2, 1);
    color: $black;
    font-size: 16px;
  }

  &__item-text {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .25s;
  }

  &__item-progress {
    height: 4px;
    background-color: $blue;
    transition-property: width;
    transition-duration: 0s;
    transition-timing-function: linear;
    width: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__item-bottom {
    height: 4px;
    background-color: $blue;
    width: 0;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__item {
    box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
    border-radius: 8px;
    background-color: $white;
    margin-bottom: 11px;
    padding: 11px 20px;
    cursor: pointer;
    position: relative;
    transition: all .35s cubic-bezier(.4, 0, .2, 1);

    &::after {
      display: block;
      content: '';
      width: 26px;
      height: 14px;
      background: url("./images/down.png") no-repeat;
      position: absolute;
      right: 14px;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background: $green;

      .b-advantages__item-title {
        color: $white;
      }
    }

    &--active {
      background: $green;
      color: $black;
      border-radius: 8px 8px 0 0;

      &::after {
        opacity: 0;
      }

      .b-advantages__item-content {
        height: auto;
      }

      .b-advantages__item-text {
        opacity: 1;
      }

      .b-advantages__item-title {
        color: $black !important;
      }

      .b-advantages__item-progress {
        opacity: 1;
        width: 100%;
        transition-duration: 10s;
      }
    }

    &--hover {
      .b-advantages__item-progress {
        opacity: 0;
        width: 0;
        transition-duration: 0s;
      }

      .b-advantages__item-bottom {
        opacity: 1;
        width: 100%;
      }
    }
  }

  &__item-title {
    color: $black;
    font-size: 16px;
    font-weight: 700;
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
  }

  &__image {
    width: 100%;
    text-align: center;
    padding-top: 45px;

    .second {
      display: none;
    }

    img {
      max-width: 100%;
    }
  }

  &__download {
    width: 100%;

    a {
      @include green-white-button;
      font-size: 16px;
      font-weight: 400;
      padding: 11px 0;
      display: block;
      text-decoration: none;
      text-align: center;
      border-radius: 2px;
    }
  }
}

@include respond-to('tablet-large') {
  .b-advantages {
    padding: 65px 0 60px;

    &__title {
      margin-bottom: 35px;
    }

    &__item {
      padding: 6px 13px;
      margin-bottom: 7px;
      border-radius: 4px;

      &::after {
        background: url("./images/down2.png") no-repeat;
        right: 0;
        top: 5px;
      }
    }

    &__item-title {
      font-size: 12px;
    }

    &__item-content {
      font-size: 12px;
    }

    &__image {
      padding-top: 15px;

      .first {
        display: none;
      }

      .second {
        display: inline-block;
      }
    }

    &__download {
      a {
        font-size: 12px;
        padding: 6px 0;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-advantages {
    padding: 35px 0;

    &__title {
      margin-bottom: 20px;
    }

    &__item {
      padding: 6px 11px;
      margin-bottom: 6px;
    }

    &__item-title {
      font-size: 10px;
    }

    &__item-content {
      font-size: 10px;
    }

    &__download {
      a {
        font-size: 10px;
        padding: 6px 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-advantages {
    &__image {
      display: none;
    }

    &__download {
      margin-top: 15px;
    }
  }
}