.b-analyzer {
  position: relative;
  padding-top: 100px;
  padding-bottom: 116px;

  &__background {
    @include bg-black;
    margin-top: -155px;
  }

  &__title {
    @include block-title;
    margin-bottom: 47px;
  }

  &__img {
    height: 100%;
    position: relative;
  }

  &__img-bg {
    position: absolute;
    background: url("./images/analyzer.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-position: right;
    margin-left: -250px;
    margin-right: 20px;
  }

  &__description {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 70px;
    line-height: 20px;
  }

  &__item {
    margin-bottom: 20px;

    a {
      @include blue-white-button;
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      padding: 30px 0;
      display: block;
      text-decoration: none;
      box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
      border-radius: 4px;
    }
  }

  &__more {
    a {
      cursor: pointer;
      color: $white;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      position: relative;

      &::after {
        display: block;
        width: 100%;
        height: 1px;
        background: $white;
        position: absolute;
        bottom: 0;
        content: '';
        transition: all 150ms ease-in-out;
      }

      &:hover {
        &::after {
          opacity: 0;
        }
      }
    }
  }
}

@include respond-to('tablet-large') {
  .b-analyzer {
    padding-top: 60px;
    padding-bottom: 50px;

    &__background {
      margin-top: -85px;
    }

    &__title {
      margin-bottom: 38px;
    }

    &__img-bg {
      background: url("./images/CWE_diagram.svg");
      background-repeat: no-repeat;
      margin-left: -32px;
      margin-right: -10px;
    }

    &__description {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 19px;
    }

    &__item {
      margin-bottom: 10px;

      a {
        font-size: 16px;
        padding: 19px 0;
      }
    }

    &__more {
      a {
        font-size: 12px;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-analyzer {
    padding-top: 40px;
    padding-bottom: 40px;

    &__background {
      margin-top: -55px;
    }

    &__title {
      margin-bottom: 13px;
    }

    &__img {
      img {
        width: 100%;
      }
    }

    &__description {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 15px;
    }

    &__item {
      margin-bottom: 8px;

      a {
        font-size: 12px;;
        padding: 8px 0;
      }
    }

    &__more {
      a {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-analyzer {
    &__img-bg {
      display: none;
    }

    &__img {
      text-align: center;

      img {
        margin: auto;
      }
    }
  }
}