.b-diagnostic {
  position: relative;
  padding-top: 100px;
  padding-bottom: 116px;

  &__background {
    @include bg-black;
    margin-top: -80px;
  }

  &__title {
    @include block-title;
    line-height: 35px;
    margin-bottom: 70px;
  }

  &__graph {
    #chart {
      width: 100%;
      height: 450px;

      svg {
        circle {
          stroke-width: 4;

          &:first-child {
            display: none;
          }

          &.hovered {
            r: 10;
            fill: $green;
            cursor: pointer;
          }
        }

        circle[r="10"] {
          fill: $green;
        }
      }

      text {
        font-size: 16px !important;
        font-weight: 400 !important;

        &:first-child {
          display: none !important;
        }
      }
    }
  }

  &__y,
  &__y-m {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: $white;
    font-weight: 700;
    font-size: 16px;

    .text {
      writing-mode: tb-rl;
      transform: rotate(180deg);
      margin-bottom: 40px;
    }
  }

  &__x {
    color: $white;
    font-weight: 700;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
  }

  &__y-m {
    display: none;
  }
}

#chart svg text[font-weight="9"],
#chart svg path[font-size="9px"],
#chart svg circle[stroke-width="0"] {
  display: none;
}

@include respond-to('tablet-large') {
  .b-diagnostic {
    padding-top: 65px;
    padding-bottom: 60px;

    &__background {
      margin-top: -60px;
    }

    &__title {
      line-height: 20px;
      margin-bottom: 45px;
    }

    &__graph {
      #chart {
        height: 380px;

        text {
          font-size: 12px !important;

          &:first-child {
            display: none !important;
          }
        }
      }
    }

    &__y,
    &__x,
    &__y-m {
      font-size: 10px;
    }

    &__x {
      margin-left: 43px;
      margin-top: 9px;
    }

    &__y {
      .text {
        margin-right: -20px;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-diagnostic {
    padding-top: 35px;
    padding-bottom: 30px;

    &__title {
      line-height: 16px;
      margin-bottom: 0;
    }

    &__graph {
      #chart {
        height: 220px;

        text {
          font-size: 8px !important;

          &:first-child {
            display: none !important;
          }
        }

        svg {
          circle {
            r: 4;

            stroke-width: 2;

            &.hovered {
              r: 4;
            }
          }

          circle[r="4"] {
            fill: $green;
          }
        }
      }
    }

    &__y,
    &__x,
    &__y-m {
      font-size: 8px;
    }

    &__x {
      margin-top: 0;
    }
  }
}

@media (max-width: 991px) {
  .b-diagnostic {
    &__x {
      margin-left: 105px;
    }
  }
}

@media (max-width: 767px) {
  .b-diagnostic {
    &__y {
      display: none;
    }

    &__y-m {
      display: block;
      position: absolute;
      top: 367px;
    }

    &__x {
      margin-left: 43px;
    }
  }
}

@media (max-width: 575px) {
  .b-diagnostic {
    &__y-m {
      left: 13px;
    }
  }
}

@media (max-width: 413px) {
  .b-diagnostic {
    &__y-m {
      top: 150px;
    }

    &__x {
      margin-left: 37px;
    }
  }
}

