.b-integrated {
  padding: 100px 0 50px;

  &__title {
    @include block-title-black;
    margin-bottom: 60px;
  }

  &__block {
    margin-bottom: 40px;
  }

  &__block-title {
    color: $black;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  &__item-img {
    position: relative;
  }

  &__item-bg {
    @include lefted;
  }

  &__item-title {
    color: $black-soft;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding-left: 40px;

    a {
      color: $black-soft;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@include respond-to('tablet-large') {
  .b-integrated {
    padding-top: 60px;
    padding-bottom: 35px;

    &__title {
      margin-bottom: 40px;
    }

    &__block {
      margin-bottom: 35px;
    }

    &__block-title {
      font-size: 12px;
      line-height: 15px;
    }

    &__item-bg {
      img {
        max-width: 20px;
      }
    }

    &__item-title {
      padding-left: 30px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

@include respond-to('mobile-large') {
  .b-integrated {
    padding-top: 35px;
    padding-bottom: 10px;

    &__title {
      margin-bottom: 25px;
    }

    &__block {
      margin-bottom: 30px;
    }

    &__block-title {
      font-size: 10px;
      line-height: 13px;
    }

    &__item {
      margin: 13px 0;
    }

    &__item-title {
      padding-left: 30px;
      font-size: 10px;
      line-height: 13px;
      padding-bottom: 1px;
      margin-top: -1px;
    }
  }
}