.b-license {
  position: relative;
  padding-top: 100px;

  &__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-position: bottom 80px center;
    background-image: url("./images/mountain.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__title {
    @include block-title-black;
    margin-bottom: 60px;
  }

  &__item {
    box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
    border-radius: 8px;
    background-color: $white;
    padding: 60px 0 50px;
  }

  &__item-title {
    color: $black;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
  }

  &__list {
    margin-bottom: 45px;
  }

  &__list-item {
    margin-bottom: 20px;
    color: $black;
    font-size: 18px;
    font-weight: 400;
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: '';
      width: 25px;
      height: 25px;
      left: -50px;
      top: -2px;
      background: url("./images/unchecked.png") no-repeat;
    }

    &--check {
      &::before {
        background: url("./images/cheked.png") no-repeat;
      }
    }
  }

  &__trial-button {
    @include green-white-button;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 13px 0;
    margin-bottom: 20px;
  }

  &__price-button {
    @include green-border-button;
    border-radius: 2px;
    border: 2px solid $green;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 13px 0;
  }

  &__text-2 {
    display: none;
  }
}

@include respond-to('tablet-large') {
  .b-license {
    padding-top: 65px;

    &__background {
      background-position: bottom 60px center;
    }

    &__title {
      margin-bottom: 35px;
    }

    &__item {
      padding: 35px 0 30px;
    }

    &__item-title {
      font-size: 16px;
      margin-bottom: 30px;
    }

    &__list {
      margin-bottom: 25px;
    }

    &__list-item {
      margin-bottom: 12px;
      font-size: 12px;

      &::before {
        width: 15px;
        height: 15px;
        left: -27px;
        top: -1px;
        background: url("./images/unchecked2.png") no-repeat;
      }

      &--check {
        &::before {
          background: url("./images/cheked2.png") no-repeat;
        }
      }
    }

    &__trial-button {
      margin-bottom: 11px;
      font-size: 12px;
      padding: 7px 0;
    }

    &__price-button {
      font-size: 12px;
      padding: 5px 0;
    }
  }
}

@include respond-to('mobile-large') {
  .b-license {
    padding-top: 35px;

    &__background {
      background-position: bottom 60px center;
    }

    &__title {
      margin-bottom: 18px;
    }

    &__item {
      padding: 20px 0;
    }

    &__item-title {
      font-size: 12px;
      margin-bottom: 22px;
    }

    &__list {
      margin-bottom: 13px;
    }

    &__list-item {
      margin-bottom: 9px;
      padding-top: 1px;
      font-size: 10px;

      &::before {
        left: -18px;
        top: -1px;
      }
    }

    &__trial-button {
      margin-bottom: 8px;
      font-size: 10px;
    }

    &__price-button {
      font-size: 10px;
    }
  }
}

@media (max-width: 767px) {
  .b-license {
    &__item {
      margin-bottom: 15px;
    }
  }
}

