.b-made {
  padding-top: 100px;
  padding-bottom: 70px;

  &__title {
    @include block-title-black;
    margin-bottom: 60px;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__item-img {
    padding-top: 10px;
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  &__item-desc {
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    b {
      font-weight: 700;
    }
  }
}

@include respond-to('tablet-large') {
  .b-made {
    padding-top: 65px;
    padding-bottom: 25px;

    &__title {
      margin-bottom: 35px;
    }

    &__item-desc {
      font-size: 12px;
      line-height: 16px;
    }

    &__item-img {
      padding-top: 0;

      img {
        max-width: 140%;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-made {
    padding-top: 35px;
    padding-bottom: 20px;

    &__title {
      margin-bottom: 20px;
    }

    &__item-desc {
      font-size: 10px;
      line-height: 13px;
      margin-left: -10px;
    }

    &__item-img {
      img {
        max-width: 140%;
      }
    }
  }
}