.b-problems {
  position: relative;
  padding-top: 100px;
  padding-bottom: 116px;

  &__background {
    @include bg-black;
  }

  &__title {
    @include block-title;
    margin-bottom: 50px;
  }

  &__item-title {
    margin-bottom: 30px;
    @include blue-white-block;
    text-decoration: none;
    text-align: center;
    padding: 26px 0;
    font-size: 26px;
    font-weight: 700;
    display: block;
    border-radius: 2px;
  }

  &__list {
    margin: 0 5px;
    padding: 0 0 0 38px;
  }

  &__list-item {
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 17px;
    position: relative;

    a {
      color: $white;
    }

    &::before {
      display: block;
      content: ' ';
      width: 9px;
      height: 9px;
      background-color: $blue-dark;
      position: absolute;
      left: -25px;
      top: 5px;
    }

    &--text {
      font-weight: 400;

      &::before {
        display: none;
      }
    }
  }

  &__all {
    a {
      @include blue-white-button;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
      display: block;
      padding: 11px 0;
      text-align: center;
      border-radius: 2px;
    }
  }
}

@include respond-to('tablet-large') {
  .b-problems {
    padding-top: 60px;
    padding-bottom: 55px;

    &__title {
      margin-bottom: 30px;
    }

    &__item-title {
      margin-bottom: 18px;
      font-size: 16px;
      padding: 16px 0;
    }

    &__list {
      padding: 0 0 0 18px;
    }

    &__list-item {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 10px;

      &::before {
        width: 6px;
        height: 6px;
        left: -13px;
        top: 4px;
      }
    }

    &__all {
      a {
        font-size: 12px;
        padding: 7px 0;

        span {
          display: none;
        }
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-problems {
    padding-top: 35px;
    padding-bottom: 35px;

    &__title {
      margin-bottom: 16px;
    }

    &__item-title {
      margin-bottom: 18px;
      margin-top: 8px;
      font-size: 12px;
      padding: 13px 0;
    }

    &__list {
      padding: 0 0 0 10px;
    }

    &__list-item {
      font-size: 10px;
      line-height: 14px;
      margin-bottom: 8px;
    }

    &__all {
      margin-top: 8px;

      a {
        font-size: 10px;
        padding: 13px 0;

        span {
          display: none;
        }
      }
    }
  }
}