.b-studio {
  position: relative;

  &__background {
    @include bg-black;
    margin-bottom: 340px;
  }

  &__img {
    text-align: center;
    margin: 0 auto 50px;
  }

  &__title {
    font-size: 26px;
    text-align: center;
    color: $white;
    font-weight: 400;
    margin-bottom: 75px;
    line-height: 27px;
  }

  &__buttons {
    margin-bottom: 56px;
  }

  &__centered {
    margin: 0 40px;
  }

  &__justify-between {
    justify-content: space-between
  }

  &__button {
    @include blue-white-button;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 0;
    animation: none !important;

    &--active {
      pointer-events: none;
      @include green-white-block;
    }

    &--center {
      position: relative;

      &:before,
      &:after {
        pointer-events: none;
        background: url("./images/strelka.png");
        width: 39px;
        height: 17px;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }

      &:before {
        left: -22%;
      }

      &:after {
        right: -22%;
      }
    }
  }
}


.b-slider {
  &__container {
    box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
    border-radius: 8px;
    background-color: $white;
    padding: 50px 15px 66px;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
    line-height: 27px;
    color: $black;
    margin-bottom: 50px;
  }

  &__form--select {
    margin-bottom: 16px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form-input {
    margin-bottom: 16px;
    position: relative;
  }

  &__form-textarea {
    position: relative;
  }

  &__form-button {
    @include blue-white-button;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    padding: 11px 0;
    text-align: center;

    &--inactive {
      pointer-events: none;
      background-color: $grey;
    }

    &--run {
      display: none;
      margin-top: 10px;
    }
  }

  &__desc {
    margin-top: 16px;
    color: $grey2;
    font-size: 14px;
    font-style: italic;
    line-height: 17px;
    letter-spacing: -0.21px;

    a {
      color: $grey2;
    }
  }

  &__form-right {
    margin-right: -15px;
  }
}

.swiper-button-next {
  left: 10px;
  width: 40px;
  outline: none;

  @include respond-to('tablet-large') {
    width: 26px;
  }

  &:after {
    background: url(./images/next.png) no-repeat;
    content: '';
    width: 40px;
    height: 78px;

    @include respond-to('tablet-large') {
      width: 26px;
      height: 50px;
      background: url(./images/next2.png) no-repeat;
    }
  }
}

.swiper-button-prev {
  right: 10px;
  left: auto;
  width: 40px;
  outline: none;

  @include respond-to('tablet-large') {
    width: 26px;
  }

  &:after {
    background: url(./images/next.png) no-repeat;
    transform: rotate(180deg);
    content: '';
    width: 40px;
    height: 78px;

    @include respond-to('tablet-large') {
      width: 26px;
      height: 50px;
      background: url(./images/next2.png) no-repeat;
    }
  }
}

.b-select[data-name="format"] .b-select__item {
  display: none;
}

@include respond-to('tablet-large') {
  .b-studio {
    &__background {
      margin-bottom: 200px;
    }

    &__img {
      margin-bottom: 30px;

      img {
        max-width: 135px;
      }
    }

    &__title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 45px;
    }

    &__buttons {
      margin-bottom: 30px;
    }

    &__button {
      font-size: 12px;
      padding: 7px 0;
    }
  }

  .b-slider {
    &__container {
      padding: 30px 15px;
    }

    &__title {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 30px;
    }

    &__form-button {
      font-size: 12px;
      padding: 7px 0;
    }

    &__desc {
      font-size: 10px;
      line-height: 14px;
    }

    &__form-right {
      margin-right: 0;
    }
  }
}

@include respond-to('desktop-15') {
  .b-studio {
    &__img {
      margin-bottom: 20px;

      img {
        max-height: 170px;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-studio {
    &__background {
      margin-bottom: 200px;
    }

    &__img {
      margin-bottom: 16px;

      img {
        max-width: 65px;
      }
    }

    &__title {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 20px;
    }
  }

  .b-slider {
    &__title {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 12px;
    }

    &__form--select,
    &__form-input,
    &__form-textarea {
      margin-bottom: 8px;
    }

    &__form-button {
      font-size: 10px;
      padding: 7px 0;
    }

    &__desc {
      font-size: 8px;
      line-height: 9px;
    }
  }
}

@media (max-width: 1199px) {
  .b-studio {
    &__button {
      &--center {
        &:before {
          left: -26%;
        }

        &:after {
          right: -26%;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .b-studio {
    &__justify-between {
      justify-content: start;
    }

    &__centered {
      margin: 0 30px;
    }

    &__button {
      &--center {
        &:after,
        &:before {
          background: url("./images/strelka2.png");
          width: 24px;
          height: 11px;
          display: block;
        }

        &:before {
          left: -28%;
        }

        &:after {
          right: -28%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .b-studio {
    &__buttons {
      display: none;
    }
  }

  .b-slider {
    &__container {
      background: none;
      box-shadow: none;
      padding: 0;
    }

    &__slide-content {
      box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
      border-radius: 4px;
      background-color: $white;
      margin-bottom: 4px;
      opacity: 0;
      height: 0;
      padding: 0;
      transition: all 150ms ease-in-out;
      display: none;
    }

    &__form-right {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

    &__form-button {
      width: 50%;
      order: 1;
      display: table;
      margin-top: 8px;

      &--run {
        display: none;
      }
    }

    &__desc {
      width: 50%;
      padding-right: 15px;
      margin-top: 8px;
    }

    &__slide-title {
      @include blue-white-block;
      border-radius: 2px;
      text-align: center;
      cursor: pointer;
      font-size: 10px;
      font-weight: 400;
      padding: 8px 0;
      margin-bottom: 4px;
    }

    &__slide {
      &--mobile-active {
        .b-slider__slide-title {
          @include green-white-block;
          cursor: auto;
        }

        .b-slider__slide-content {
          padding: 15px;
          opacity: 1;
          height: auto;
          display: block;
        }
      }
    }
  }
}