.b-using {
  padding-top: 100px;

  &__title {
    @include block-title-black;
    margin-bottom: 48px;
  }

  &__items {
    margin-bottom: 50px;
    align-items: stretch;
  }

  &__item {
    box-shadow: 3px 3px 6px 1px rgba(65, 72, 75, 0.26);
    border-radius: 4px;
    background-color: $blue;
    padding: 37px 30px 90px;
    background-position: bottom 14px right 14px;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    height: 100%;

    &--green {
      background-color: $green;
    }

    &--develop {
      background-image: url('./images/developer.png');
    }

    &--manager {
      background-image: url('./images/manager.png');
    }

    &--security {
      background-image: url('./images/security.png');
    }
  }

  &__item-title {
    color: $white;
    font-size: 26px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    margin-bottom: 35px;
  }

  &__list {
    margin: 0 5px;
  }

  &__list-item {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 9px;
    position: relative;

    &::before {
      display: block;
      content: ' ';
      width: 9px;
      height: 9px;
      background-color: $black-soft;
      position: absolute;
      left: -20px;
      top: 8px;
    }
  }
}

@include respond-to('tablet-large') {
  .b-using {
    padding-top: 30px;

    &__title {
      margin-bottom: 15px;
    }

    &__items {
      margin-bottom: 0;
    }

    &__item {
      padding: 23px 13px 35px;
      background-size: 70%;
      height: 100%;

      &--develop {
        background-size: 140px;
      }

      &--manager {
        background-size: 85px;
      }

      &--security {
        background-size: 130px;
      }
    }

    &__item-title {
      font-size: 16px;
      margin-bottom: 22px;
      line-height: 18px;
    }

    &__list {
      margin: 0 0 0 7px;
    }

    &__list-item {
      font-size: 12px;
      line-height: 16px;

      &::before {
        width: 7px;
        height: 7px;
        left: -13px;
        top: 4px;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-using {
    padding-top: 30px;

    &__title {
      margin-bottom: 15px;
    }

    &__items {
      margin-bottom: 0;
    }

    &__item {
      padding: 12px 12px 30px;
      background-size: 35%;

      &--develop {
        background-size: 100px;
      }

      &--manager {
        background-size: 65px;
      }

      &--security {
        background-size: 70px;
      }
    }

    &__item-title {
      font-size: 12px;
      margin-bottom: 7px;
      line-height: 10px;
    }

    &__list {
      margin: 0 0 0 7px;
    }

    &__list-item {
      font-size: 10px;
      line-height: 12px;

      &::before {
        width: 5px;
        height: 5px;
        left: -10px;
        top: 4px;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-using {
    &__item {
      height: auto;
    }
  }
}