.b-work {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

  &__background {
    @include bg-black;
  }

  &__title {
    @include block-title;
    margin-bottom: 70px;
  }

  &__video {
    position: relative;
    height: 0;
    margin-bottom: 0;
    padding-bottom: 56.25%;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
  }

  &__text {
    width: 100%;
    color: $white;
    font-size: 16px;
    font-weight: 400;

    p {
      line-height: 20px;
    }
  }

  &__text-title {
    font-weight: 700;
    margin-bottom: 42px;
  }

  &__download {
    width: 100%;

    a {
      @include green-white-button;
      font-size: 16px;
      font-weight: 400;
      padding: 11px 0;
      display: block;
      text-decoration: none;
      text-align: center;
      border-radius: 2px;
    }
  }
}

@include respond-to('tablet-large') {
  .b-work {
    padding-top: 65px;
    padding-bottom: 43px;

    &__title {
      margin-bottom: 30px;
    }

    &__video {
      min-height: 210px;
    }

    &__text {
      font-size: 12px;
      margin-bottom: 20px;

      p {
        line-height: 16px;
      }
    }

    &__text-title {
      margin-bottom: 28px;
    }

    &__download {
      a {
        font-size: 12px;
        padding: 6px 0;
      }
    }
  }
}

@include respond-to('mobile-large') {
  .b-work {
    padding-top: 33px;
    padding-bottom: 33px;

    &__title {
      margin-bottom: 22px;
    }

    &__video {
      min-height: 184px;
    }

    &__text {
      font-size: 10px;
      margin-bottom: 8px;

      p {
        line-height: 14px;
        padding-left: 15px;
        position: relative;

        &::before {
          display: block;
          content: '';
          background-color: $blue-dark;
          position: absolute;
          width: 6px;
          height: 6px;
          left: 0;
          top: 5px;
        }
      }
    }

    &__text-title {
      margin-bottom: 18px;
    }

    &__download {
      a {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .b-work {
    &__text-title {
      margin-top: 20px;
    }
  }
}