.b-clients {
  padding: 35px 0 60px;

  &__title {
    @include block-title-black;
    margin-bottom: 50px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__filter {
    border: 2px solid #d2d2d2;
    border-radius: 20px;
    padding: 9px 20px;
    font-size: 16px;
    font-weight: 400;
    color: $black;
    cursor: pointer;
    min-width: 160px;
    transition: all 250ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

    &:hover {
      border-color: $green;
    }

    &--active {
      pointer-events: none;
      border-color: $green;
    }
  }

  &__items {
    margin-bottom: 30px;
  }

  &__item {
    height: 200px;
    background-color: $white;
    box-shadow: 3px 3px 6px 0 rgba(65,72,75,0.25);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }

    &:hover {
      background-color: $white;
      color: #fff;

      &:before {
        transform: skewX(-45deg) translateX(35.5em);
        transition: all 1s ease-in-out;
      }
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@include respond-to('tablet-large') {
  .b-clients {
    padding-top: 20px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 35px;
    }

    &__filter {
      min-width: 90px;
      font-size: 12px;
      margin-bottom: 10px;
      padding: 6px 15px;
    }

    &__items {
      margin-bottom: 0;
    }

    &__item {
      height: 120px;
      padding: 15px;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 767px) {
  .b-clients {
    padding-top: 0;
    padding-bottom: 35px;

    &__title {
      margin-bottom: 15px;
    }

    &__filter {
      min-width: 50px;
      font-size: 10px;
      margin-bottom: 8px;
      padding: 4px 10px;
    }

    &__item {
      height: 140px;
      padding: 15px;
      margin-bottom: 10px;
    }
  }
}