.b-command {
  padding: 35px 0 60px;

  &__title {
    @include block-title-black;
    margin-bottom: 50px;
  }

  &__desc {
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 1.5;
  }

  &__item {
    margin-bottom: 20px;
    height: calc(100% - 20px);
    position: relative;
    perspective: 1000px;
    width: 100%;
    min-height: 500px;

    &--transform {
      .b-command__item-front {
        transform: rotateY(-180deg);
      }

      .b-command__item-back {
        transform: rotateY(0deg);
      }
    }
  }

  &__item-front,
  &__item-back {
    position: absolute;
    width: 101%;
    height: 100%;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
    transition: transform 1s;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  }

  &__open-back,
  &__open-front {
    position: absolute;
    max-width: 20%;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 3;
    transition: all 250ms ease-in-out;

    &:hover {
      max-width: 22%;
    }
  }

  &__item-back {
    transform: rotateY(180deg);
  }

  &__item-inner {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    perspective: inherit;
    z-index: 2;
    height: 100%;
    overflow: hidden;
  }

  &__item-img {
    width: 100%;
    background-size: cover;
    background-position: top center;
    height: 270px;
    background-color: #d5d7d8;
    border-radius: 3px 3px 0 0;
  }

  &__item-desc {
    background-color: $white;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.2;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 3px 3px;

    p {
      margin-top: 0;
    }
  }

  &__media {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;

    &--articles,
    &--videos {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      span {
        width: 100%;
        margin-top: 15px;
      }

      a {
        color: $blue;
        text-decoration: none;
        display: flex;
        align-items: center;
      }

      img {
        margin-right: 10px;
      }
    }

    &--videos {
      justify-content: flex-end;

      span {
        text-align: right;
      }

      img {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }

  &__item-name {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__item-position {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    color: $grey2;
    margin-bottom: 15px;
  }

  &__item-text {
    flex-grow: 1;
    font-size: 16px;
    line-height: 1.2;
    font-style: italic;
  }

  &__hr {
    border-bottom: 1px solid $grey2;
    max-width: 50%;
    margin: 30px auto 45px;
  }
}

@include respond-to('tablet-large') {
  .b-command {
    padding-top: 20px;
    padding-bottom: 50px;

    &__title {
      margin-bottom: 35px;
    }

    &__desc {
      margin-bottom: 50px;
      font-size: 14px;
    }

    &__item {
      min-height: 300px;
    }

    &__item-img {
      height: 150px;
    }

    &__item-desc {
      padding: 8px 12px;
      height: 150px;
    }

    &__media {
      &--articles,
      &--videos {
        span {
          margin-top: 10px;
          font-size: 12px;
        }

        a {
          font-size: 12px;
        }

        img {
          margin-right: 7px;
          max-width: 21px;
        }
      }

      &--videos {
        img {
          margin-right: 0;
          margin-left: 7px;
        }
      }
    }

    &__item-name {
      font-size: 16px;
      margin-bottom: 7px;
    }

    &__item-position {
      font-size: 12px;
      margin-bottom: 10px;
    }

    &__item-text {
      font-size: 10px;
      line-height: 1;
    }

    &__hr {
      max-width: 50%;
      margin: 20px auto 35px;
    }
  }
}

@media (max-width: 767px) {
  .b-command {
    padding-top: 0;
    padding-bottom: 35px;

    &__title {
      margin-bottom: 15px;
    }

    &__desc {
      margin-bottom: 20px;
      font-size: 12px;
    }

    &__item {
      min-height: 320px;
    }

    &__item-img {
      height: 220px;
    }

    &__item-desc {
      padding: 8px 14px;
      height: 100px;
    }

    &__media {
      order: 2;
      align-items: flex-end;

      &--articles,
      &--videos {
        span {
          display: none;
        }

        a {
          font-size: 12px;
        }

        img {
          margin-right: 7px;
          max-width: 18px;
        }
      }

      &--videos {
        img {
          margin-right: 0;
          margin-left: 7px;
        }
      }
    }

    &__item-name {
      font-size: 14px;
      margin-bottom: 7px;
    }

    &__item-position {
      font-size: 12px;
      margin-bottom: 6px;
    }

    &__item-text {
      font-size: 10px;
      line-height: 1;
    }

    &__hr {
      max-width: 100%;
      margin: 0 auto 18px;
    }

    &__open-back,
    &__open-front {
      &:hover {
        max-width: 20%;
      }
    }
  }
}